/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #393939;
$mainFontSize            : 18px;
$mainFontWeight          : 600; 
$mainLineHeight          : 1.2;

$desktopWidth            : 1290px;
$smDesktopWidth          : 917px;
$tableWidth              : 624px;
$smTableWidth            : 540px;
$phoneWidth              : 480px;
$smPhoneWidth            : 300px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$bg-color           : #ECECEC;
$primary-color      : #3E66F3;
$primary-light-color:#2D9CDB;
$gray-color         : #393939;
$gray-light-color   : #7E7B7B;
$white-font         : #FBFBFB;
$red-color          : #EB5757;
