@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vogue Highline Serif';
  src: url("../fonts/VogueHighlineSerif-Medium.woff2") format("woff2"), url("../fonts/VogueHighlineSerif-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Helvetica Neue Cyr Thin', sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1596px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 810px) {
  .container {
    position: initial;
    -webkit-transform: initial;
            transform: initial;
    top: initial;
    left: initial;
  }
}

.container-content {
  max-width: 1249px;
  height: 100%;
}

.logo {
  position: fixed;
  width: 191px;
  height: 35px;
  top: 42px;
  left: 52px;
  z-index: 10;
}

@media screen and (max-width: 810px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 130px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .logo {
    top: 22px;
  }
}

.call {
  position: fixed;
  top: 42px;
  right: 52px;
  padding-left: 25px;
  z-index: 10;
}

@media screen and (max-width: 810px) {
  .call {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .call {
    top: 22px;
  }
}

.call__link {
  display: block;
  text-decoration: none;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  color: #4a4a4a;
  position: relative;
  margin-bottom: 10px;
}

.call__link::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background: url(../img/phone.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 810px) {
  .call__link {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .call__link {
    font-size: 14px;
  }
}

.call__order {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 18px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.call__order:hover {
  text-decoration: underline;
}

@media screen and (max-width: 810px) {
  .call__order {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .call__order {
    font-size: 14px;
  }
}

.socials {
  position: fixed;
  left: 52px;
  bottom: 60px;
  z-index: 10;
}

@media screen and (max-width: 810px) {
  .socials {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media screen and (max-width: 480px) {
  .socials {
    display: none;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .socials {
    bottom: 30px;
  }
}

.socials-end {
  display: none;
}

@media screen and (max-width: 480px) {
  .socials-end {
    display: block;
    bottom: 20px;
    top: initial;
  }
}

.socials-link {
  display: inline-block;
  text-decoration: none;
  margin-right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  background: transparent;
}

.socials-link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (max-width: 810px) {
  .socials-link {
    margin-right: 0;
  }
  .socials-link:hover {
    -webkit-transform: initial;
            transform: initial;
  }
}

.socials__icon {
  width: 26px;
  height: 26px;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-pagination.swiper-pagination-fraction {
  width: initial;
  bottom: 60px;
  right: 52px;
  text-align: right;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 35px;
}

.hero__header {
  font-family: 'Vogue Highline Serif';
  font-size: 94px;
  letter-spacing: initial;
  line-height: 1.1;
}

@media screen and (max-width: 1370px) {
  .hero__header {
    font-size: 74px;
  }
}

@media screen and (max-width: 990px) {
  .hero__header {
    font-size: 54px;
  }
}

@media screen and (max-width: 810px) {
  .hero__header {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .hero__header {
    font-size: 30px;
    font-weight: 700;
  }
}

.slider-text-hero {
  left: 100px !important;
  width: 70%;
}

@media screen and (max-width: 990px) {
  .slider-text-hero {
    left: 50px !important;
    margin-top: 0 !important;
  }
}

.slider-text-paragraph {
  font-family: 'Helvetica Neue Cyr Thin';
  font-size: 37px;
  font-weight: 100;
  display: block;
  margin-top: 30px;
}

@media screen and (max-width: 1370px) {
  .slider-text-paragraph {
    font-size: 27px;
  }
}

@media screen and (max-width: 990px) {
  .slider-text-paragraph {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .slider-text-paragraph p {
    line-height: 1.1;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  body.no-slider .slider-content {
    padding: 55px 10px 0 !important;
  }
}

.hero-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 810px) {
  .hero-link-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-link-item {
  width: 240px;
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .hero-link-item {
    margin-right: 10px;
  }
}

.hero-link-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: -5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-link-item:first-child:after {
  background-color: #53b6f1;
}

.hero-link-item:last-child:after {
  background-color: #d44f68;
}

.hero-link-item:hover:after {
  -webkit-filter: contrast(1.3);
          filter: contrast(1.3);
}

.hero-link__link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica Neue Cyr Thin';
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  width: 100%;
  z-index: 1;
}

.hero-link__link:after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 16px;
  height: 20px;
  background: url(../img/arrow.png) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 480px) {
  .hero-link__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 810px) {
  #slider-intro-book {
    margin-top: 25px;
  }
}

#slider-intro-book img {
  left: 0;
  height: 65%;
}

@media screen and (max-width: 810px) {
  #slider-intro-book .intro-book-img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 810px) {
  .slider-content-change-step2 #slider-intro-book img {
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
}

.intro-book-img--small {
  height: 85%;
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 50px;
}

@media screen and (max-width: 1370px) {
  .intro-book-img--small {
    height: 75%;
  }
}

@media screen and (max-width: 810px) {
  .intro-book-img--small {
    width: 100%;
    top: 0;
    height: 100%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .intro-book-img--small {
    height: 100%;
  }
}

.slider-video {
  opacity: 1;
}

.slider-text-title {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 56px;
  display: inline-block;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0;
}

@media screen and (max-width: 1370px) {
  .slider-text-title {
    font-size: 46px;
  }
}

@media screen and (max-width: 990px) {
  .slider-text-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 810px) {
  .slider-text-title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .slider-text-title {
    font-size: 26px;
  }
}

.slider-text-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
}

.slider-text-title--blue:after {
  background-color: #53b6f1;
}

.slider-text-title--red:after {
  background-color: #d44f68;
}

.slider-chapter-info {
  padding: 0 !important;
  font-family: 'Helvetica Neue Cyr Thin';
  font-size: 24px;
  color: #000;
}

.slider-chapter-info:before {
  display: none;
}

@media screen and (max-width: 480px) {
  .slider-chapter-info {
    font-size: 18px;
  }
}

.slider-text-right {
  text-align: right;
}

.slider-text.slider-text-right {
  right: 0 !important;
  width: 60% !important;
}

@media screen and (max-width: 1370px) {
  .slider-text.slider-text-right {
    right: 100px !important;
    width: 50% !important;
  }
}

.slider-text.slider-text-left {
  left: 0 !important;
  width: 60% !important;
}

@media screen and (max-width: 1370px) {
  .slider-text.slider-text-left {
    left: 50px !important;
    width: 50% !important;
  }
}

@media screen and (max-width: 810px) {
  .slider-text.slider-text-left {
    width: 100% !important;
  }
}

.slider-chapter-info__sign {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.slider-video-left {
  left: 0 !important;
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .slider-video.slider-video-left .intro-book-img--small {
    top: 0;
  }
}

@media screen and (max-width: 1370px) {
  .slider-video.slider-video-left {
    left: 50px !important;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .slider-video.slider-video-left {
    right: 60%;
  }
}

.slider-video-right {
  right: 0 !important;
}

@media screen and (max-width: 1370px) {
  .slider-video.slider-video-right {
    left: 50%;
    right: 100px !important;
  }
}

#slider-content-chapter-1 .slider-text.slider-text-left {
  width: 50% !important;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-1 .slider-text.slider-text-left {
    width: 34% !important;
  }
}

#slider-content-chapter-2 .slider-text.slider-text-right {
  width: 50% !important;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-2 .slider-text.slider-text-right {
    width: 34% !important;
  }
  #slider-content-chapter-2 .slider-video.slider-video-left {
    right: 40%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-4 .slider-video.slider-video-right {
    bottom: 60px;
    top: 80px;
    left: 50%;
  }
}

#slider-content-chapter-4 .chapter-4-list {
  width: 90%;
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-4 .intro-book-img--small {
    top: 0;
  }
}

#slider-content-chapter-4 h3 {
  font-size: 91px;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-4 h3 {
    font-size: 71px;
  }
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-4 h3 {
    font-size: 51px;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-4 h3 {
    font-size: 38px;
  }
}

#slider-content-chapter-4 h4 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-4 h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  #slider-content-chapter-4 h4, #slider-content-chapter-4 .chapter-4-list li {
    font-size: 14px;
  }
  
}
@media screen and (max-width: 480px) {
  #slider-content-chapter-4 h4 {
    margin-bottom: 10px;
    margin-top: 15px;
  }
}

#slider-content-chapter-4 .chapter-4-list li {
  padding-left: 60px;
  position: relative;
  margin-bottom: 25px;
  font-size: 16px;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-4 .chapter-4-list li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

#slider-content-chapter-4 .chapter-4-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 810px) {
  #slider-content-chapter-4 .chapter-4-list li {
    padding-left: 0;
  }
  #slider-content-chapter-4 .chapter-4-list li::before {
  }
}

#slider-content-chapter-4 .chapter-4-list li:nth-child(1)::before {
  background-image: url(../img/exib.png);
}

#slider-content-chapter-4 .chapter-4-list li:nth-child(2)::before {
  background-image: url(../img/star.png);
}

#slider-content-chapter-4 .chapter-4-list li:nth-child(3)::before {
  background-image: url(../img/mic.png);
}

#slider-content-chapter-5 h3 {
  font-size: 91px;
  right: 190px;
  position: relative;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-5 h3 {
    font-size: 71px;
  }
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-5 h3 {
    font-size: 51px;
    right: 120px;
  }
}

@media screen and (max-width: 810px) {
  #slider-content-chapter-5 h3 {
    right: initial;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-5 h3 {
    font-size: 38px;
  }
}

#slider-content-chapter-5 h4 {
  font-size: 24px;
  font-family: 'Helvetica Neue Cyr Roman';
  margin-top: 35px;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-5 h4 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-5 h4 {
    font-size: 22px;
    margin-top: 5px;
  }
}

#slider-content-chapter-5 .chapter-5-list {
  width: 66%;
  margin-left: auto;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-5 .chapter-5-list {
    width: 82%;
  }
}

@media screen and (max-width: 810px) {
  #slider-content-chapter-5 .chapter-5-list {
    width: 100%;
  }
}

#slider-content-chapter-5 .chapter-5-list li {
  font-size: 20px;
  padding-left: 45px;
  margin-top: 35px;
  position: relative;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-5 .chapter-5-list li {
    margin-top: 10px;
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-5 .chapter-5-list li {
    font-size: 16px;
  }
}

#slider-content-chapter-5 .chapter-5-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#slider-content-chapter-5 .chapter-5-list li:nth-child(1)::before {
  background-image: url(../img/mic.png);
}

#slider-content-chapter-5 .chapter-5-list li:nth-child(2)::before {
  background-image: url(../img/ball.png);
}

#slider-content-chapter-5 .chapter-5-list li:nth-child(3)::before {
  background-image: url(../img/cup.png);
}

#slider-content-chapter-6 .slider-text {
  top: 100px;
  position: relative;
  left: 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-6 .slider-text {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
}

#slider-content-chapter-6 .news-list {
  height: 495px;
  margin-top: 40px;
}

@media screen and (max-width: 1370px) {
  #slider-content-chapter-6 .news-list {
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-6 .news-list {
    height: 400px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-6 .news-list {
    width: 100%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-6 .news-list {
    height: 350px;
    margin-top: 20px;
  }
}

#slider-content-chapter-6 .news-item {
  margin: 0 15px;
  position: relative;
  z-index: 10;
  height: 495px;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-6 .news-item {
    height: 400px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-6 .news-item {
    height: 350px;
  }
}

#slider-content-chapter-6 .news-item:hover .news-text {
  opacity: 1;
}

#slider-content-chapter-6 .news-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#slider-content-chapter-6 .news-item video{
  width: 100%;
  height: 100%;
  background: #000;
}
#slider-content-chapter-6 .news-text {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-6 .news-text {
    padding: 10px;
  }
}

#slider-content-chapter-6 .news-text .news-date {
  display: inline-block;
  text-align: center;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-6 .news-text .news-date {
    margin: 10px 0;
  }
}

#slider-content-chapter-6 .news-text h4 {
  text-align: center;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 24px;
}

#slider-content-chapter-6 .news-text p {
  font-family: 'Helvetica Neue Cyr Roman';
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  #slider-content-chapter-6 .news-text p {
    margin-top: 10px;
  }
}

#slider-content-chapter-6 .news-arrows {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
}

#slider-content-chapter-6 .news-arrow {
  width: 22px;
  height: 15px;
  background: url(../img/arrow-left.png) no-repeat center;
  background-size: contain;
  z-index: 10;
  cursor: pointer;
  margin: 20px;
}

#slider-content-chapter-6 .news-arrow--next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#slider-content-chapter-7 .slider-text {
  text-align: center;
  margin-top: 0 !important;
  width: 82%;
}

@media screen and (max-width: 1170px) {
  #slider-content-chapter-7 .slider-text {
    width: 72%;
  }
}

#slider-content-chapter-7 .slider-text-title {
  position: absolute;
  top: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

@media screen and (max-width: 810px) {
  #slider-content-chapter-7 .slider-text-title {
    margin-bottom: 10px;
    position: initial;
    -webkit-transform: initial;
            transform: initial;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-chapter-7 .slider-text-title {
    top: 50px;
    font-size: 40px;
  }
}

#slider-content-chapter-7 .chapter-7-slider {
  height: 365px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

@media screen and (max-width: 810px) {
  #slider-content-chapter-7 .chapter-7-slider {
    -webkit-transform: initial;
            transform: initial;
    top: initial;
    left: initial;
  }
}

#slider-content-chapter-7 .chapter-7-items {
  height: 365px;
}

#slider-content-chapter-7 .chapter-7-items__link {
  display: inline-block;
  height: 100%;
}

#slider-content-chapter-7 .chapter-7-items__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#slider-content-chapter-7 .arrows-2 {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 1370px) {
  #slider-content-end .intro-book-img--small {
    height: 87%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-end .intro-book-img--small {
    height: 150%;
    top: 0;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-end .slider-content-change-step2 .slider-video {
    bottom: 60px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-end .slider-video.slider-video-right {
    left: 50%;
  }
}

@media screen and (max-width: 810px) {
  #slider-content-end {
    padding-bottom: 20px !important;
  }
}

#slider-content-end p {
  margin-top: 20px;
  font-size: 20px;
  color: #000;
  margin-bottom: 60px;
  width: 60%;
}

@media screen and (max-width: 1370px) {
  #slider-content-end p {
    font-size: 18px;
  }
}

@media screen and (max-width: 990px) {
  #slider-content-end p {
    font-size: 16px;
    margin-bottom: 20px;
    width: 70%;
  }
}

@media screen and (max-width: 810px) {
  #slider-content-end p {
    width: 100%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  #slider-content-end p {
    margin-bottom: 10px;
  }
}

#slider-content-end .slider-text {
  bottom: initial;
}

#slider-content-end .form-slide-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 810px) {
  #slider-content-end .form-slide-end {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-end .form-slide-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#slider-content-end .form-slide-end input {
  width: 215px;
  height: 43px;
}

#slider-content-end .form-slide-end input[type="tel"] {
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  color: #868686;
  padding-left: 15px;
  border: 2px solid #d44f68;
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  #slider-content-end .form-slide-end input[type="tel"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#slider-content-end .form-slide-end input[type="tel"]::-webkit-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  color: #868686;
}

#slider-content-end .form-slide-end input[type="tel"]:-ms-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  color: #868686;
}

#slider-content-end .form-slide-end input[type="tel"]::-ms-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  color: #868686;
}

#slider-content-end .form-slide-end input[type="tel"]::placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  color: #868686;
}

#slider-content-end .form-slide-end input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 18px;
  margin: 0;
  background-color: #53b6f1;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  #slider-content-home {
    padding-top: 80px !important;
  }
}

@media screen and (max-width: 480px) {
  body.no-slider #slider-content-home {
    padding-bottom: 10px !important;
  }
}

.slider-content-change-step2 .slider-video {
  top: 100px;
  bottom: 40px;
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .slider-content-change-step2 .slider-video {
    bottom: 80px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 800px) {
  body#emersion.page-loading-step2 #nav-indication {
    bottom: 30px !important;
  }
}

#slider-content-chapter-3 .slider-text {
  width: 82%;
}

@media screen and (max-width: 1170px) {
  #slider-content-chapter-3 .slider-text {
    width: 72%;
  }
}

@media screen and (max-width: 480px) {
  #slider-content-chapter-3 .slider-text {
    width: 100% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
  }
}

.chapter-3-slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 525px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

@media screen and (max-width: 810px) {
  .chapter-3-slider {
    -webkit-transform: initial;
            transform: initial;
    top: initial;
  }
}

@media screen and (max-width: 480px) {
  .chapter-3-slider {
    height: 450px;
  }
}

@media screen and (max-height: 700px) {
  .chapter-3-slider {
    height: 450px;
  }
}

.chapter-3-items {
  width: 30%;
  height: 100%;
  padding: 0 12.5px;
}

@media screen and (max-width: 480px) {
  .chapter-3-items {
    height: 450px;
  }
}

.chapter-3-items__link {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.chapter-3-items__link:hover:after {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.chapter-3-items__link:hover:before {
  display: block;
}

.chapter-3-items__link:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.chapter-3-items__link:before {
  content: "";
  display: none;
  width: 52px;
  height: 52px;
  background: url(../img/loop.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.chapter-3-items__img {
  width: 100%;
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
}
.arrows-0 {
  position: absolute;
  left: 6.5%;
  right: 11%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.arrows-0 .arrow-slick:before, .arrows-0 .arrow-slick:after{
      background-color: #eae5e5;
}
.arrows-1 {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.arrow-slick {
  width: 25px;
  height: 45px;
  cursor: pointer;
  position: absolute;
}

.arrow-slick:before {
  content: "";
  display: block;
  top: 12.5px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #888888;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-slick:after {
  content: "";
  display: block;
  bottom: 12.5px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #888888;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-slick.arrow-prev {
  left: -30px;
}

@media screen and (max-width: 480px) {
  .arrow-slick.arrow-prev {
    left: -10px;
    z-index: 20;
  }
}

.arrow-slick.arrow-next {
  right: -30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
  .arrow-slick.arrow-next {
    right: -10px;
    z-index: 20;
  }
}

.overlay {
  display: none;
  background: #363636;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  z-index: 9998;
  overflow: hidden;
}

.modal-cont {
  max-width: 678px;
  width: 90%;
  height: 310px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  opacity: 0;
  z-index: -1;
}

.modal__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.modal__form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 810px) {
  .modal__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}

.modal__form input {
  height: 43px;
}

.modal__form input[type="tel"] {
  border: 2px solid #d44f68;
  padding-left: 15px;
  font-family: 'Helvetica Neue Cyr Light';
  color: #868686;
  font-size: 18px;
  width: 275px;
  margin-right: 20px;
}

.modal__form input[type="tel"]::-webkit-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  color: #868686;
  font-size: 18px;
}

.modal__form input[type="tel"]:-ms-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  color: #868686;
  font-size: 18px;
}

.modal__form input[type="tel"]::-ms-input-placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  color: #868686;
  font-size: 18px;
}

.modal__form input[type="tel"]::placeholder {
  font-family: 'Helvetica Neue Cyr Light';
  color: #868686;
  font-size: 18px;
}

@media screen and (max-width: 810px) {
  .modal__form input[type="tel"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.modal__form input[type="submit"] {
  width: 220px;
  background-color: #53b6f1;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .modal__form input[type="submit"] {
    width: 100%;
  }
}

.modal-cont-2 h3 {
  width: 80%;
  font-size: 36px;
}

/* Custom */
.chapter-new-2-slider li img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chapter-new-2-slider .slick-track{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chapter-new-2-slider .slick-track .slick-slide{
  -ms-flex-item-align: center;
      align-self: center;
}
.chapter-new-2-slider-text .slick-arrow{
  display: none!important;
}
.chapter-new-2 .arrows-0{
  left: 6%;
  right: 6%;
}
.chapter-4-slider-wrap .slick-slider, .chapter-5-slider-wrap .slick-slider{
  height: 100%;
}
.chapter-4-slider .slick-track, .chapter-5-slider .slick-track{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chapter-4-slider .slick-slide, .chapter-5-slider .slick-slide{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.slider-photo-desc{
    position: absolute;
    font-size: 18px;
    max-width: 400px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 11px;
    bottom: 40px;
    left: 0;
}
    
.chapter-4-slider .slick-slide img, .chapter-5-slider .slick-slide img{
  max-width: 100%;
  max-height: 620px;
} 
.chapter-5-slider .slider-photo-desc{
  right: 0;
  left: unset;
}
#slider-content-chapter-5 .slider-text-right{
  width: 50%!important;
}
#slider-content-chapter-5 .chapter-5-list{
  width: 76%;
}

@media screen and (max-width: 1024px){
  .slider-content-change-step2 .slider-video {
    display: flex;
    align-items: center;
  }
  .chapter-new-2 .arrows-0, .arrows-0{
    left: 14%;
    right: 14%;
  }
  .slider-chapter-info{
    font-size: 18px;
  }
  #slider-content-chapter-4 h4, #slider-content-chapter-4 .chapter-4-list li{
    font-size: 12px;
  }
}
@media screen and (max-width: 768px){
  #slider-content-chapter-1 .slider-text.slider-text-left {
      width: 100% !important;
  }
  #slider-content-chapter-4 h4, #slider-content-chapter-4 .chapter-4-list li{
    margin-right: 0;
    font-size: 16px;
    width: 100%;
  }
  #slider-content-chapter-4 .chapter-4-list{
    margin: 0 auto;
  }
  .chapter-4-slider .slick-slide img, .chapter-5-slider .slick-slide img{
    min-height: auto;
  }
  #slider-content-chapter-7 .slider-text-title{
    white-space: normal;
  }
  #slider-content-chapter-7 .chapter-7-slider{
    width: 85%;
    margin: 0 auto;
  }
  #slider-content-chapter-7 .arrows-2{
    top: 62%;
  }
  #slider-content-chapter-4 .chapter-4-list li::before, #slider-content-chapter-5 .chapter-5-list li::before{
    position: relative;
    margin: 0 auto 5px auto;
  }
  #slider-content-chapter-5 .chapter-5-list{
    width: 90%;
    margin: 0 auto;

  }
  #slider-content-chapter-5 .chapter-5-list li{
    padding-left: 0;
  }
}