// =======================
// Colors
// =======================


.block-1{
   position: relative;
   background-color: #2a2a2a;
   overflow: hidden;
   font: 400 16px Roboto;
   a{
      color: #ffffff;
      text-decoration: none;
   }
   header{
      color: #ffffff;
      padding: 9px 0 16px 0;
      .row{
         display: flex;
         align-items: center;
         justify-content: space-between;
         .number{
            margin-left: 100px;
         }
         .info{
            display: flex;
            align-items: center;
            div{
               max-width: 210px;
               display: flex;
               align-items: center;
               margin-right: 50px;
               &:last-child{
                  margin-right: 0;
               }
               img{
                  align-self: stretch;
                  margin-right: 15px;
               }
            }
         }
      }
   }
   .banner{
      position: relative;
      z-index: 1;
      padding-top: 195px;
      max-width: 1812px;
      margin: 0 auto;
      background: #f8f8f8 url("../media/img/_index/block1.jpg") no-repeat center top /cover;
      color: #2a2a2a;
      h1{
         font: bold 48px/56px Roboto;
         text-transform: uppercase;
         max-width: 360px;
         margin-bottom: 20px;
      }
      .pretitle{
         max-width: 350px;
         margin-bottom: 54px;
      }
      .btn{
         margin-bottom: 81px;
      }
      .more{
         box-sizing: border-box;
         padding: 45px 45px 55px 45px;
         background-color: #2A2A2A;
         display: flex;
         align-items: center;
         justify-content: space-between;
         max-width: 438px;
         color: #FFFFFF;
         p{
            max-width: 317px;
         }
      }
   }
   &::after{
      content: "";
      height: 138px;
      width: 9999px;
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      z-index: 0;
   }
}
.btn, a.btn{
   display: flex;
   align-items: center;
   justify-content: center;
   font: 400 16px Roboto;
   text-decoration: none;
   box-sizing: border-box;
   width: 100%;
   max-width: 182px;
   min-height: 45px;
   padding: 10px;
   color: #2A2A2A;
   background: #FFED10;
   border: none;
   outline: none;
}

.block-1-page{
   height: 100vh;
   min-height: 700px;
   background: url("../media/img/_index/page.jpg") no-repeat center top /cover;
   .banner{
      height: calc(100% - 99px);
      box-sizing: border-box;
      padding-top: 100px;
      background: none;
      color: #ffffff;
      .row{
         height: 100%;
         display: flex;
         flex-direction: column;
      }
      h1{
         max-width: 600px;
         margin-bottom: 60px;
      }
      .pretitle{
         max-width: 572px;
         p{
            margin-bottom: 15px;
            &:last-child{
               margin-bottom: 0;
            }
         }
      }
      .more{
         padding: 40px 40px 32px 40px;
         max-width: 575px;
         color: #2A2A2A;
         background-color: #FFED10;
         margin-top: auto;
         flex-wrap: wrap;
         p{
            max-width: 383px;
         }
         .social{
            margin-top: 20px;
            width: 100%;
            a{
               margin-right: 9px;
               &:last-child{
                  margin-right: 0;
               }
            }
         }
      }
   }
   &::after{
      display: none;
   }
}

//=======================
//MEDIA SCREEN MIN
//=======================
@media screen and (min-width: 1400px){
   
}
@media screen and (min-width: 1600px){
   
}

//=======================
//MEDIA SCREEN MAX
//=======================
@media screen and (max-width: 1200px) {
   .block-1-page{
       min-height: 772px;
   }
}
@media screen and (max-width: 992px) {
   .block-1{
      header .row .number{
         margin-left: 0;
      }
      .banner{
         padding-top: 90px;
      }
   }
   .block-1.block-1-page{
      .banner{
         background: none;
      }
   }
}
@media screen and (max-width: 768px) {
   .block-1{
      header .row .info{
         display: none;
      }
      .banner{
         background-image: url("../media/img/_index/block1-mob.jpg");
         background-position: center  center;
         padding-top: 90px;
         h1{
            font-size: 30px;
            line-height: 35px;
         }
         .pretitle{
            margin-bottom: 30px;
         }
         .btn{
            margin-bottom: 35px;
         }
         .more{
            margin-left: -16px;
            padding: 26px 26px 38px 20px;
            p{
               margin-right: 15px;
            }
         }
      }
      &::after{
         display: none;
      }
   }
   .block-1.block-1-page{
         min-height: 670px;
         .banner{
            padding-top: 60px;
            h1{
               font-size: 22px;
               line-height: 26px;   
               margin-bottom: 30px;   
            }
            .more{
               margin-left: 0;
               p{
                  max-width: 90%;
               }
            }
         }
      }
}
@media screen and (max-width: 576px) {
   
}