// =======================
// Colors
// =======================


.block-2{
   padding: 70px 0 40px 0;
   font: 400 16px 'Roboto';
   .title{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 64px;
      h2{
         font-weight: bold;
         font-size: 30px;
         line-height: 35px;
         text-transform: uppercase;
         max-width: 620px;
      }
   }
   .slider{
      li{
         background-color: #f8f8f8;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 18px 0 25px 0;
         .thumb{
            margin-bottom: 24px;
         }
         p{
            text-align: center;
         }
      }
      .owl-dots.disabled, .owl-nav.disabled{
         display: block;
      }
      .owl-nav{
         margin: 45px auto 0 auto;
         max-width: 883px;
      }
      .owl-dots{
         margin: -18px auto 0 auto;
         max-width: 700px;
         height: 18px;
      }
   }
}
.block_2.clone{
   padding: 40px 0;
}

.slider-wrap{
   .owl-nav{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    button{
        span{
               display: none;
         }
         &:hover{
               background-color: transparent;
         }
         &::after{
               content: "";
               display: block;
               background-repeat: no-repeat;
               background-position: center;
               width: 54px;
               height: 8px;
         }
      }
      button.owl-prev{
         &::after{
               background-image: url("../media/img/_index/arrow-left-black.svg");
         }
      }
      button.owl-next{
         &::after{
               background-image: url("../media/img/_index/arrow-right-black.svg");
         }
      }
   }
   .owl-theme .owl-nav [class*=owl-]:hover{
      background-color: transparent;
   }
   .owl-theme .owl-dots .owl-dot:hover span{
      background-color: #000;
   }
   .owl-theme .owl-dots .owl-dot span{
      background-color: transparent;
      border: 1px solid #000;
      width: 9px;
      height: 9px;
      box-sizing: border-box;
      transition: all 0.3s;
   }
   .owl-theme .owl-dots .owl-dot.active span{
      background-color: #000;
   }
}
//=======================
//MEDIA SCREEN MIN
//=======================
@media screen and (min-width: 1400px){
   
}
@media screen and (min-width: 1600px){
   
}

//=======================
//MEDIA SCREEN MAX
//=======================
@media screen and (max-width: 1200px) {
   
}
@media screen and (max-width: 992px) {
   .block-2{

   }
}
@media screen and (max-width: 768px) {
   .block-2{
      position: relative;
      padding: 40px 0;
      .row{
         padding-bottom: 75px;
      }
      .title{
         margin-bottom: 20px;
         h2{
            font-size: 22px;
            line-height: 26px;
         }
         .btn{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
         }
      }
      .slider .owl-nav{
         display: none;
      }
      .slider .owl-dots{
         margin-top: 30px;
      }
   }

}
@media screen and (max-width: 576px) {
   
}