/*Tablet*/
@media only screen and (max-width:991px) {
	section .container {
		padding: 50px 0;
	}
	.header__call {
		float: right;
	}
	.mobile {
		height: 100%;
		line-height: 77px;
		font-size: 1.582rem;
	}
	.menu__item {
		font-size: 18px;
	}
	.moving__box {
    	margin: 0;
	}
	.realty__wrap {
    	margin: 6px 8.3%;
	}
	.reviwes__slider {
	    margin: 90px 8.3% 0 8.3%;
	}
	.reviwes__slide {
		padding-left: 140px;
	}
	.footer__text_link {
 		margin-left: 0px;
    }
	.pages__bg_color{
		background-color: #fff;
	}
	.pages__wrap {
	    margin-top: 0px;
	    box-sizing: content-box;
	    padding: 0;
	}
}
/*Mobile*/
@media only screen and (max-width:767px) {
	h1,.main__h1{
		font-size: 	2.938rem;
	}
	.banner__title_light {
	    font-size: 2.063rem
	}
	.reviwes__img {
		margin: 0 auto;
	    position: relative;
	    top: 0;
	    left: 0;
	}
	.reviwes__slide {
		text-align: center;
		padding: 10px 40px 50px 40px;
	}
	.reviwes__contact {
		display: block !important;
	}
	.reviwes__contact_name {
		margin-bottom: 10px;
	}
	.reviwes__contact_link {
		margin-bottom: 5px;
	}
	.form__input,.form__submit {
		width: 80%;	
	}
	.form__submit {
		letter-spacing: 0;
		font-size:  0.9375rem;
	}
	.footer__text_link {
		display: none;
	}
	.realty__img_center{
		left:50%; 
		margin-left:-94px; 
	}
	.realty__img_left {
		left:50%; 
		margin-left:-122px; 
	}
		.realty__img_right{
		left:52%; 
	}
	.contacts__boxes {
		display: block !important;	
	}
	.pages__wrap {
		padding: 0;
	}
	.contacts__info,.contacts__form {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.contacts__info {
		margin-bottom: 40px;
	}
	.contacts__box {
		display: block !important;
	}
	.contacts__form_fs{
		font-size: 0.625rem !important;
	}
	.contacts__ico {
		width: auto;
		margin: 0 auto;
	}
	.move__box{
		margin: 0 auto;
		margin-bottom: 40px;
		width: 80%;
	}
	.move__img {
		width: 100%;
		margin-bottom: 10px;
	}
	.move__text{
		text-align: justify;
		width: 100%;
	}
	.move__img_left{
		margin-left: 0;
	}
	.move__img_right{
		margin-right: 0;
	}
	.about__clients {
		text-align: center;
	    display: block !important;
	}	
	.about__text_second {
		margin: 30px 0;
	}
	.about__partners_item {
		width: 90%;
		margin: 20px auto;
	}
}
@media only screen and (max-width:576px) {
	h1 {
		font-size:  1.75rem;
		letter-spacing: 1px;
	}
	.main__h1 {
		font-size: 2.563rem;
		letter-spacing: 7px;
	}
	h2{
		font-size: 1.563rem;
	}
	.logo__footer {
		width: 100px;
		background-size: contain;
	}
	.footer__text {
	    font-size: 0.775rem;
	}

	.realty__img_left,.realty__img_right {
	    display: none;
	}
	.realty__img_center{
		display: block;
	}
}