@charset "UTF-8";
@-ms-viewport {
  width: device-width; }

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #242424;
  font-size: 16px;
  background-color: #f8f8f8;
  overflow-x: hidden;
  min-width: 320px; }

h1, h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 700; }

p {
  line-height: 1.2em; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
  color: inherit;
  transition: color 0.3s; }

b {
  font-weight: 700; }

img {
  max-width: 100%;
  max-height: 100%; }

button {
  font-family: inherit;
  border: none;
  outline: 0;
  padding: 0px;
  background-color: transparent; }
  button:focus {
    outline: 0; }
  button:active {
    outline: 0; }

input {
  font-family: inherit;
  padding: 0; }
  input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4); }
  input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4); }
  input::placeholder {
    color: rgba(0, 0, 0, 0.4); }

.title {
  font-family: 'Noto Serif', serif;
  line-height: 1.2em; }

.h1 {
  font-size: 32px;
  line-height: 1.3em;
  margin: 0; }

.h2 {
  font-size: 24px;
  line-height: 1.3em; }

.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3em; }

.pre-h, .breadcumbs__item {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4); }

.text_right {
  text-align: right; }

.text_yellow {
  color: #ffce8e; }

.text_14 {
  font-size: 14px; }

.text_medium {
  font-weight: 500; }

.ico-btn {
  display: -ms-flexbox;
  display: flex;
  background-color: transparent; }
  .ico-btn_down {
    padding: 10px; }
    .ico-btn_down svg {
      transition: all 0.3s; }
    .ico-btn_down_active svg {
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.ico-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .ico-row__ico {
    margin-right: 14px; }

.btn, a.btn {
  display: inline-block;
  font-weight: 500;
  padding: 12px 20px;
  transition: all 0.3s;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  cursor: pointer; }
  .btn:hover, a.btn:hover {
    border: solid 1px rgba(0, 0, 0, 0.32); }
  .btn:focus, a.btn:focus {
    background-color: #f8f8f8; }
  .btn_large, a.btn_large {
    padding-top: 20px;
    padding-bottom: 20px; }
  .btn_black, a.btn_black {
    border: solid 1px #242424;
    background-color: #242424;
    color: #ffffff; }
    .btn_black:hover, a.btn_black:hover {
      border: solid 1px rgba(38, 38, 38, 0.86);
      background-color: rgba(38, 38, 38, 0.86); }
    .btn_black:focus, a.btn_black:focus {
      border: solid 1px #242424;
      background-color: #242424; }
  .btn_more, a.btn_more {
    padding-left: 122px;
    padding-right: 122px; }

.desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.56);
  line-height: 1.4em; }

.container-max {
  max-width: 1920px; }

.mark-list li {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3em; }
  .mark-list li::before {
    content: "—";
    display: inline-block;
    margin-right: 9px; }

.header {
  color: #fff;
  background-color: #7e2141;
  position: relative; }
  .header-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0; }
  .header-menu {
    position: relative;
    z-index: 1;
    transition: none; }
    .header-menu_red {
      background-color: #7e2141; }
  .header-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .header-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .header-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .header-bg::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .header-bg .slick-track {
      height: 100%; }
    .header-bg .slick-list {
      width: 100%;
      height: 100%; }
  .header__control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .header__lang {
    margin-right: 30px; }
  .header__row {
    position: relative; }
    .header__row::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -4999.5px;
      width: 9999px;
      height: 1px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.32); }
    .header__row-slider {
      padding: 32px 0; }
  .header__nav {
    margin-left: auto; }
  .header__search-line {
    margin-left: 28px; }
  .header_large {
    padding-bottom: 168px; }
  .header a {
    color: inherit; }

.breadcumbs {
  margin-bottom: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .breadcumbs__item {
    margin-bottom: 8px; }
    .breadcumbs__item::after {
      content: "•";
      display: inline-block;
      margin-right: 4px; }
    .breadcumbs__item:last-child::after {
      display: none; }

.info {
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center; }
  .info a {
    color: inherit; }
  .info-time {
    cursor: pointer; }
  .info-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px; }
    .info-box:first-child {
      margin-left: 0; }
    .info-box__ico {
      margin-right: 12px; }
      .info-box__ico_active path {
        fill: #ffce8e; }
    .info-box__down {
      margin-left: 10px; }
  .info-more-box {
    display: none;
    position: absolute;
    padding: 16px;
    right: 0;
    top: calc(100% + 12px);
    width: 288px;
    border-radius: 4px;
    background-color: #741e3b;
    z-index: 20; }
    .info-more-box__title {
      display: none; }
    .info-more-box__text {
      font-size: 14px;
      line-height: 1.4em;
      margin-bottom: 16px; }

.work-time {
  font-size: 16px; }
  .work-time li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px; }
    .work-time li:last-child {
      margin-bottom: 0; }

.ico-work-time_active svg {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.lang {
  display: -ms-flexbox;
  display: flex; }
  .lang__select {
    position: relative;
    outline: 0;
    cursor: pointer;
    width: 45px;
    background-color: transparent;
    border: 0;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.5s; }
    .lang__select option {
      color: #242424; }
  .lang::after {
    content: "";
    display: block;
    background-image: url("../img/icons/ic-arrow-small.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: -22px;
    transition: all 0.3s; }
  .lang_active::after {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.25em; }
  .logo__ico {
    margin-right: 16px; }
  .logo__title {
    max-width: 180px;
    font-weight: 500; }
  .logo__addition {
    max-width: 210px;
    opacity: .56;
    position: relative;
    margin-left: 33px; }
    .logo__addition::before {
      content: "";
      display: block;
      height: calc(100% + 8px);
      width: 1px;
      position: absolute;
      top: -4px;
      left: -21px;
      background-color: #ffffff; }

.nav-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500; }
  .nav-list a {
    color: inherit; }
    .nav-list a:hover {
      color: #ffce8e; }

.nav-item {
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px; }
  .nav-item_active {
    padding-bottom: 32px;
    margin-bottom: 0; }
    .nav-item_active > a {
      color: #ffce8e; }
  .nav-item:last-child {
    margin-right: 0; }

.mobile-nav-item {
  display: none; }

.nav-drop {
  display: none;
  padding: 40px 0;
  background-color: #7e2141;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 100%; }
  .nav-drop::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4999.5px;
    width: 9999px;
    height: 100%;
    background-color: #7e2141; }
  .nav-drop__list {
    padding-left: 23px;
    border-left: 1px solid rgba(255, 255, 255, 0.32);
    margin-bottom: -16px; }
  .nav-drop__item {
    margin-bottom: 20px; }

.search-line {
  position: relative; }
  .search-line::before {
    content: "";
    display: none;
    position: absolute;
    width: 560px;
    height: calc(100% + 32px);
    right: 34px;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .search-line_active::before {
    display: block; }
  .search-line__form {
    display: none;
    right: -12px;
    top: 50%;
    border-radius: 4px;
    height: 40px;
    width: 548px;
    margin-top: -20px;
    position: absolute;
    background-color: #ffffff;
    padding: 10px 42px 10px 12px;
    z-index: 10; }
    .search-line__form input {
      width: 100%;
      border: 0;
      margin-right: 10px;
      font-weight: 500; }
    .search-line__form input:focus + button {
      opacity: 1; }
    .search-line__form button {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -12px;
      transition: all 0.3s;
      opacity: 0.4; }

.event-slider {
  max-width: 50%; }
  .event-slider .slick-dots {
    position: absolute;
    right: -100%;
    bottom: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 0; }
    .event-slider .slick-dots li {
      cursor: pointer;
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 50%;
      opacity: .32;
      margin-right: 12px; }
      .event-slider .slick-dots li:last-child {
        margin-right: 0; }
    .event-slider .slick-dots .slick-active {
      opacity: 1; }
  .event-slider-nav {
    width: 80px;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0; }
    .event-slider-nav__next img {
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.event-item {
  min-height: 392px;
  padding-bottom: 30px;
  display: none; }
  .event-item:first-child {
    display: block; }
  .event-item__pre-title {
    color: inherit;
    margin-bottom: 16px; }
  .event-item__title {
    margin-bottom: 16px; }
  .event-item__text {
    line-height: 1.5em; }
  .event-item__date {
    position: absolute;
    bottom: 0; }

.event-header-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .event-header-info__item {
    margin-bottom: 20px; }
  .event-header-info__title {
    line-height: 1.5em; }
  .event-header-info__text {
    line-height: 1.5em; }

.section {
  margin: 40px 0; }

.section_white {
  padding: 40px 0 56px 0;
  background-color: #ffffff; }

.section_mt {
  margin-top: -175px;
  position: relative;
  z-index: 1; }
  .section_mt .container {
    min-height: 175px; }

.section_border .container {
  background-color: #ffffff;
  border-radius: 2px;
  border: 40px solid #ffffff; }

@media screen and (min-width: 1220px) {
  .section_border .container {
    max-width: 1220px; } }

.section-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px; }

.section-text article {
  margin-bottom: 48px; }
  .section-text article:last-child {
    margin-bottom: 0; }

.section-text .h3 {
  margin-bottom: 10px; }

.section-text p {
  margin-bottom: 10px;
  line-height: 1.5em; }
  .section-text p:last-child {
    margin-bottom: 0; }

.section-text img {
  margin-bottom: 16px; }
  .section-text img:last-child {
    margin-bottom: 0; }

.section-text_14 {
  font-size: 14px; }

.sort-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .sort-buttons_white .sort-buttons__item {
    background-color: #ffffff; }
    .sort-buttons_white .sort-buttons__item_active {
      background-color: #242424;
      color: #ffffff; }
  .sort-buttons__item {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 6px 16px;
    margin-right: 16px;
    transition: all 0.3s; }
    .sort-buttons__item:last-child {
      margin-right: 0; }
    .sort-buttons__item:hover {
      background-color: #242424;
      color: #ffffff; }
    .sort-buttons__item_active {
      background-color: #242424;
      color: #ffffff; }

.news-row {
  margin-bottom: -32px; }
  .news-row-more {
    max-height: 368px;
    overflow: hidden;
    margin-bottom: 0;
    position: relative; }
    .news-row-more::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); }
    .news-row-more_gray::after {
      background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, #f8f8f8); }

.news-card {
  margin-bottom: 32px; }
  .news-card a {
    color: inherit; }
  .news-card__thumb {
    display: block;
    margin-bottom: 16px; }
    .news-card__thumb img {
      border-radius: 2px; }
  .news-card__title {
    margin-bottom: 8px; }
  .news-card__text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.45em; }

.news-list__item {
  margin-bottom: 32px; }
  .news-list__item:last-child {
    margin-bottom: 0; }

.news-pre-main {
  position: relative;
  color: #ffffff;
  border-radius: 2px;
  margin-bottom: 32px; }
  .news-pre-main__text {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: calc(100% - 48px); }
  .news-pre-main__title {
    margin-bottom: 10px; }
  .news-pre-main__date {
    color: #ffffff; }
  .news-pre-main::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64)); }

.more-row {
  margin-top: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }

.holiday-row {
  margin-left: -32px; }

.holiday-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  transition: all 0.3s; }
  .holiday-item:hover {
    background-color: #ffffff; }
    .holiday-item:hover .holiday-item__ico {
      background-color: #f8f8f8; }
  .holiday-item__ico {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.3s; }
  .holiday-item__title {
    margin-bottom: 6px; }

.partner-slider .slick-arrow {
  width: 40px;
  height: 40px;
  font-size: 0px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 1; }
  .partner-slider .slick-arrow::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/icons/arrow.svg"); }

.partner-slider .slick-prev {
  left: -32px; }
  .partner-slider .slick-prev::after {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.partner-slider .slick-next {
  right: 0; }
  .partner-slider .slick-next::after {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.partner-slider .slick-disabled {
  opacity: 0;
  visibility: hidden; }

.partner-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
  padding: 8px;
  width: 160px;
  height: 112px;
  border-radius: 4px;
  background-color: #ffffff; }

.contact-item__title {
  margin-bottom: 5px; }

.contact-row {
  padding: 24px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08); }
  .contact-row__social {
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .contact-row_non-border {
    border-top: 0;
    margin-top: -40px; }

.social-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social__item {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-repeat: no-repeat;
    transition: all 0.3s;
    margin-right: 16px; }
    .social__item:last-child {
      margin-right: 0; }
    .social__item-vk {
      background-image: url("../img/icons/ic-vk.svg"); }
      .social__item-vk:hover {
        background-image: url("../img/icons/ic-vk-hovered.svg"); }
    .social__item-in {
      background-image: url("../img/icons/ic-instagram.svg"); }
      .social__item-in:hover {
        background-image: url("../img/icons/ic-instagram-hovered.svg"); }
    .social__item-fb {
      background-image: url("../img/icons/ic-facebook.svg"); }
      .social__item-fb:hover {
        background-image: url("../img/icons/ic-facebook-hovered.svg"); }
    .social__item-tw {
      background-image: url("../img/icons/ic-twitter.svg"); }
      .social__item-tw:hover {
        background-image: url("../img/icons/ic-twitter-hovered.svg"); }
  .social-min .social__item {
    width: 24px;
    height: 24px; }
    .social-min .social__item-vk {
      background-image: url("../img/icons/ic-vk-small.svg"); }
      .social-min .social__item-vk:hover {
        background-image: url("../img/icons/ic-vk-small-hovered.svg"); }
    .social-min .social__item-ok {
      background-image: url("../img/icons/ic-odnoklassniki-small.svg"); }
      .social-min .social__item-ok:hover {
        background-image: url("../img/icons/ic-odnoklassniki-small-hovered.svg"); }
    .social-min .social__item-in {
      background-image: url("../img/icons/ic-instagram-small.svg"); }
      .social-min .social__item-in:hover {
        background-image: url("../img/icons/ic-instagram-small-hovered.svg"); }
    .social-min .social__item-fb {
      background-image: url("../img/icons/ic-facebook-small.svg"); }
      .social-min .social__item-fb:hover {
        background-image: url("../img/icons/ic-facebook-small-hovered.svg"); }
    .social-min .social__item-tw {
      background-image: url("../img/icons/ic-twitter-small.svg"); }
      .social-min .social__item-tw:hover {
        background-image: url("../img/icons/ic-twitter-small-hovered.svg"); }

.branch-row {
  margin-bottom: -32px; }

.branch-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 32px; }
  .branch-item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -16px;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    background-color: #f8f8f8;
    border-radius: 4px;
    opacity: 0; }
  .branch-item:hover::before {
    opacity: 1; }
  .branch-item__thumb {
    margin-right: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.aside {
  background-color: #f8f8f8;
  border-radius: 2px;
  position: relative; }
  .aside__item {
    text-align: center;
    padding: 24px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
    .aside__item:last-child {
      border-bottom: 0; }
    .aside__item-title {
      font-weight: 700; }
    .aside__item-date {
      margin-bottom: 16px; }
  .aside__info-text {
    max-width: 200px;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4em;
    color: rgba(0, 0, 0, 0.56);
    margin: 8px auto 0 auto; }
  .aside__btn {
    width: 100%;
    margin-bottom: 16px; }
  .aside_ticket::after {
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    background: url("../img/icons/dots.svg") center; }

.date-text {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.86);
  font-weight: 700;
  font-size: 12px;
  line-height: 2em; }

.photo-desc {
  margin-top: -8px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.56);
  line-height: 1.4em;
  margin-bottom: 16px; }

.article-slider {
  position: relative;
  z-index: 0; }
  .article-slider .slick-arrow {
    bottom: 72px;
    font-size: 0px;
    position: absolute;
    width: 56px;
    height: 56px;
    border: solid 1px rgba(255, 255, 255, 0.56);
    transition: all 0.3s;
    z-index: 1; }
    .article-slider .slick-arrow::after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 50%;
      top: 50%;
      margin-top: -15px;
      margin-left: -15px;
      background: url("../img/icons/ic-arrow-small.svg") no-repeat center/cover; }
    .article-slider .slick-arrow:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .article-slider .slick-prev {
    right: 71px; }
    .article-slider .slick-prev::after {
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .article-slider .slick-next {
    right: 16px; }
    .article-slider .slick-next::after {
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.footer {
  padding: 32px 0; }
  .footer .container {
    position: relative; }
  .footer__logo .logo__title {
    max-width: none; }
  .footer__copy {
    text-align: right; }

#up-button {
  position: absolute;
  right: -70px;
  bottom: -20px; }

@media screen and (max-width: 1200px) {
  .logo__addition {
    display: none; } }

@media screen and (max-width: 992px) {
  .h1, .h2 {
    font-size: 20px; }
  .section_mt {
    margin-top: 0;
    position: static; }
  .section_border .container {
    border: 0;
    padding-top: 32px;
    padding-bottom: 32px; }
  .header-main {
    padding: 12px 0; }
  .header_large {
    padding-bottom: 0px; }
  .header__row-slider {
    padding-bottom: 40px; }
  .ico-work-time_active svg {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    .ico-work-time_active svg path {
      fill: #ffce8e; }
  .event-slider {
    max-width: none; }
  .event-slider .slick-dots {
    right: auto;
    left: 0px;
    bottom: -40px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%; }
    .event-slider .slick-dots li {
      background-color: #242424;
      border-radius: 0;
      width: 100%;
      margin-right: 0;
      height: 3px; }
  .event-item_page {
    min-height: auto; }
  .logo__title, .header-top {
    display: none; }
  .header__nav {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #7e2141; }
  .nav-item {
    margin: 0;
    width: 100%;
    padding: 12px 0px; }
    .nav-item a {
      padding: 0 15px;
      display: inline-block;
      width: 100%; }
      .nav-item a:hover {
        color: #ffffff; }
    .nav-item:first-child {
      padding-top: 24px; }
    .nav-item:last-child {
      padding-bottom: 24px; }
  .nav-list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
  .nav-drop {
    position: static;
    padding: 24px 0 8px 0;
    margin-top: 16px;
    background-color: #741e3b; }
    .nav-drop::before {
      display: none; }
    .nav-drop .container {
      padding: 0; }
  .nav-item-drop > a {
    position: relative; }
    .nav-item-drop > a::after {
      content: "";
      display: block;
      transition: all 0.3s;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      background: url("../img/icons/ic-arrow-small.svg") no-repeat center/cover; }
  .nav-item_active > a {
    color: #ffce8e; }
    .nav-item_active > a:hover {
      color: #ffce8e; }
    .nav-item_active > a::after {
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .nav-drop__list {
    padding: 0 0 16px 0;
    border-left: none;
    margin-bottom: -16px;
    font-weight: 400; }
  .nav-drop__title {
    display: none; }
  .mobile-nav-item {
    display: block; }
  .header__lang {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 20px 0 0;
    margin-left: auto; }
  .info-time {
    -ms-flex-order: 2;
    order: 2;
    margin: 0 20px 0 0; }
    .info-time .info-box__ico {
      margin-right: 0; }
  .search-line {
    -ms-flex-order: 3;
    order: 3;
    margin: 0 20px 0 0; }
  .mob-menu-btn {
    -ms-flex-order: 4;
    order: 4;
    background-image: url("../img/icons/ic-nav-open.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px; }
    .mob-menu-btn_active {
      background-image: url("../img/icons/ic-nav-close.svg"); }
  .event-slider-nav {
    display: none; }
  .search-line {
    position: static; }
  .search-line__form {
    right: auto;
    left: 0;
    z-index: 10;
    top: calc(100% + 20px);
    border-radius: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    background-color: #7e2141;
    padding: 20px 42px 20px 12px; }
    .search-line__form input {
      background-color: inherit;
      color: white; }
      .search-line__form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .search-line__form input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .search-line__form input::placeholder {
        color: rgba(255, 255, 255, 0.5); }
    .search-line__form input:focus + button svg path {
      fill: white; }
    .search-line__form button {
      opacity: 1; }
      .search-line__form button svg path {
        fill: rgba(255, 255, 255, 0.5); }
  .search-line__open-btn_active path {
    fill: #ffce8e; }
  .search-line_active::before {
    display: none; }
  .info-box {
    position: static; }
  .info-more-box {
    top: 100%;
    width: 100%;
    border-radius: 0px;
    padding-top: 24px;
    padding-bottom: 24px; }
    .info-more-box__title {
      display: block;
      margin-bottom: 8px; }
  .section-header {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
  .section-header__buttons {
    margin-top: 14px; }
  .section-text p:last-child {
    margin-bottom: 16px; }
  .section-text article {
    margin-bottom: 32px; }
    .section-text article:last-child {
      margin-bottom: 32px; }
  .sort-buttons {
    margin-bottom: -8px; }
  .sort-buttons__item {
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px; }
  .btn_more, a.btn_more {
    width: 100%;
    max-width: 350px;
    padding-left: 12px;
    padding-right: 12px; }
  .news-card__thumb img {
    width: 100%; }
  .news-pre-main {
    min-height: 400px; }
    .news-pre-main img {
      height: 100%;
      object-fit: cover; }
  .news-list__item:last-child {
    margin-bottom: 32px; }
  .partner-item {
    width: 122px;
    height: 96px; }
  .holiday-row {
    margin-left: -15px; }
  .holiday-item {
    margin: 16px 0 0 0;
    padding: 0 0 16px 0; }
    .holiday-item__ico {
      background-color: #ffffff; }
    .holiday-item:hover {
      background: transparent; }
  .contact-item {
    margin-bottom: 24px; }
  .contact-row__social {
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .branch-item {
    margin: 16px 0 0 0;
    padding-bottom: 16px; }
    .branch-item::before {
      display: none; }
  .col-aside {
    -ms-flex-order: -1;
    order: -1; }
  .aside {
    margin-bottom: 30px; }
  .footer__logo .logo__title {
    display: block; }
  .footer__logo {
    margin: 0 0 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16); }
  .footer__desc {
    margin-bottom: 16px; }
  .footer__copy {
    text-align: left; }
  #up-button {
    right: 15px; } }

@media screen and (max-width: 767px) {
  .holiday-item, .branch-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16); }
  .holiday-row .col-12:last-of-type .holiday-item {
    border-bottom: 0; }
  .branch-row .col-12:last-of-type .branch-item {
    border-bottom: 0; } }
