// ----------------------------------------------------------------------------
// Link libraries
// ----------------------------------------------------------------------------
@import 'reset';
@import 'grid';

// ----------------------------------------------------------------------------
// Base settings
// ----------------------------------------------------------------------------
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #2e2e37;
  min-width: 320px;
  overflow-x: hidden;
  line-height: 1.6;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  margin-bottom: auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Inter', sans-serif;
  a {
    color: inherit;
  }
}

h1,
.h1 {
  font-size: 50px;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 30px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: color 0.3s, border 0.3s;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
button {
  font-family: inherit;
  border: none;
  outline: 0;
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}

input,
textarea,
select,
option {
  font-family: inherit;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 9px 15px;
  max-width: 100%;
}

textarea {
  resize: none;
}

// ----------------------------------------------------------------------------
// Common styles
// ----------------------------------------------------------------------------
.nav {
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 25px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.6;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.title {
  &_bold {
    font-weight: 600;
  }
}

a.link {
  &_bold {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }
  &_red {
    color: #d43a3a;
  }
  &_blue {
    color: #3a769f;
  }
}

.section {
  &-bg_blue {
    background-color: rgba($color: #78c8ff, $alpha: 0.2);
  }
  &-bg_orange {
    background-color: #fc825c;
  }
  &-bg_green {
    background-color: #00c6ae;
  }
  &_border-bot {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: #2e2e37;
      position: relative;
      z-index: 2;
    }
  }
}

.picture-mb-minus {
  margin-bottom: -3px;
}

.links-row {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    display: flex;
    align-items: center;
    &:after {
      content: '';
      display: block;
      height: 15px;
      width: 2px;
      background: #3a769f;
      margin: 0 7px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-right: 33px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.text-center {
  text-align: center;
}

.btn,
a.btn {
  display: inline-block;
  font-size: 16px;
  color: #fafafa;
  padding: 12.5px 45px;
  cursor: pointer;
  &_green {
    background: #00c6ae;
  }
  &_blue {
    background: #3f96fe;
  }
  &_black {
    background: #2e2e37;
  }
  &_orange {
    background: #fc825c;
  }
  &_submit {
    border-radius: 4px;
    font-size: 12px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }
  &_block {
    display: block;
    width: 100%;
  }
}

.text-content {
  & > * {
    margin-bottom: 20px;
  }
  a {
    color: #f35757;
    border-bottom: 1px solid #f35757;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-weight: normal;
    margin: 54px 0 40px 0;
  }
  ul {
    list-style: disc;
    list-style-position: inside;
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
  }
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text {
  &_bold {
    font-weight: 700;
  }
  &_s-bold {
    font-weight: 500;
  }
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 5px;
    font-size: 14px;
  }
  a {
    color: #00c6ae;
  }
}

// ----------------------------------------------------------------------------
// Main styles
// ----------------------------------------------------------------------------

// Home page - Start =============================================================
.header {
  &_black-text {
    .logo {
      path,
      svg {
        fill: #2e2e37;
      }
    }
  }
  &_white-text {
    color: #fafafa;
    .logo {
      path,
      svg {
        fill: #fafafa;
      }
    }
    a {
      color: #fafafa;
    }
  }

  &-main {
    padding: 42px 0;
    margin-bottom: 50px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    margin-left: -14px;
  }

  &-content {
    text-align: center;
    &_left {
      text-align: left;
    }
  }
  &-content__text {
    font-size: 20px;
    max-width: 575px;
    margin: 0 auto;
  }
  &-content__more {
    margin: 10px 0 20px 0;
  }
  &__tags-list {
    justify-content: center;
    margin-bottom: 18px;
  }
  &__title {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.2;
  }
  &__social-icons {
    justify-content: center;
    margin: 40px 0 60px 0;
  }
}

.header-content-info {
  text-align: left;
  padding-bottom: 50px;
  .header__title {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 30px;
  }
  &__img {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      right: 0;
      top: 0;
      max-width: none;
      max-height: none;
      z-index: 3;
    }
    p {
      font-size: 20px;
      position: absolute;
      z-index: 3;
      bottom: -320px;
      right: 0;
      &::after {
        content: '';
        display: block;
        width: 43px;
        height: 75px;
        background: url('../img/icons/arrow-ico.svg') no-repeat center;
        position: absolute;
        right: -40px;
        top: -52px;
      }
    }
  }
}

.section-large {
  padding: 200px 0 0 0;
  text-align: center;
  &__text {
    font-size: 20px;
    max-width: 622px;
    margin: 0 auto 20px auto;
  }
}

.section-labor {
  &::after {
    margin-top: 140px;
  }
  &__slider {
    margin-top: 80px;
  }
  &__scrollbar {
    margin-top: 51px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.works-slider {
  // display: flex;
  // justify-content: space-between;
  .work-card {
    float: left;
    margin-right: 43px;
    width: 350px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.work-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  &-top {
    background: #2e2e37;
    height: 39.5px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
  }
  &__control-img {
    position: absolute;
    top: 14px;
    left: 20px;
    max-width: 56px;
  }
  &-body {
    position: relative;
    border: 4px solid #2e2e37;
    border-top: none;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name-box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 267px;
    border: 4px solid #2e2e37;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 22px 10px;
    text-align: center;
    background: #fafafa;
  }
  &__type {
    font-family: 'Supply', monospace;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 6px;
    text-transform: uppercase;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
  }
}

.scrollbar {
  height: 14px;
  background: rgba($color: #2e2e37, $alpha: 0.3);
  line-height: 0;
  max-width: 599px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #2e2e37;
  border-radius: 20px;

  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

.footer {
  padding: 75px 0px;
  background: #2e2e37;
  color: #fafafa;
  overflow: hidden;
  position: relative;
  &__title {
    font-size: 30px;
    margin-bottom: 13px;
  }
  &__text {
    font-size: 15px;
  }
  &__img {
    position: absolute;
    right: 100px;
    bottom: 0;
  }
}
// Home page - End ===============================================================

// Product page - start ===============================================================
.page-content {
  padding: 40px 0 0 0;
  font-size: 18px;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 730px;
  }
  p,
  img,
  ul,
  ol,
  form,
  h1,
  h2,
  h3 {
    margin-bottom: 40px;
  }
}

.page-content-next {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 48px;
    margin-top: 10px;
  }
}
// Product page - end ===============================================================

// About page - start ===============================================================

@media (min-width: 1250px) {
  .about-page {
    .container {
      max-width: 1200px;
    }
  }
}

.person-info {
  padding: 50px 0;
  margin-bottom: 80px;
}
.person-info-item {
  display: flex;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    font-weight: 700;
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  &__hover {
    border-bottom: 1px solid #2e2e37;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    padding-bottom: 0px;
    line-height: 1.3;
    &:hover {
      border-bottom-color: transparent;
      .person-info-item__hover-image {
        display: block;
      }
    }
    &-image {
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      padding: 5px;
      background: #ffffff;
      border: 1px solid #2e2e37;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
      max-width: none;
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        background: #ffffff;
        border-top: 1px solid #2e2e37;
        border-right: 1px solid #2e2e37;
        left: 50%;
        top: -8px;
        transform: rotate(-45deg) translateX(-50%);
        position: absolute;
      }
      img {
        max-width: none;
      }
    }
  }
}

.person-links {
  margin-bottom: 130px;
  &__title {
    max-width: 220px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

.links-list {
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    border-bottom: 1px solid #2e2e37;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.person-fav {
  margin-bottom: 50px;
  &__title {
    margin-bottom: 30px;
  }
}

.fav-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  justify-content: center;
}

.fav-item {
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 25px 30px 25px;
  background: #ffffff;
  border: 4px solid #2e2e37;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  &__name {
    font-size: 12px;
    font-family: 'Supply', monospace;
    margin-top: 24px;
  }
  &__img {
    width: auto;
  }
}
// About page - end ===============================================================

// Blog page - start ===============================================================
.cat-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
  }
  &__item {
    padding: 0 15px 44px 15px;
    font-size: 15px;
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    transition: all 0.3s;
    &:hover {
      border-bottom: 3px solid #979797;
    }
    &_active {
      border-bottom: 3px solid #979797;
    }
    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.blog-cat-nav {
  margin-bottom: 35px;
}

.blog-main {
  padding: 35px 0;
}

.articles-list {
  .article {
    margin-bottom: 70px;
  }
}

.article {
  &__title {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__tags-list {
    margin-bottom: 15px;
  }
  &__text {
    p {
      margin-bottom: 20px;
    }
  }
}

.aside {
  .aside-item {
    margin-bottom: 57px;
  }
}

.aside-item {
  border: 1px solid #dadada;
  border-radius: 6px;
  font-size: 14px;
  &_bold {
    border: 2px solid #2e2e37;
    .aside-item-top {
      border-bottom: 2px solid #2e2e37;
    }
  }
  &-top {
    padding: 20px;
    background: rgba(196, 196, 196, 0.2);
    border-bottom: 1px solid #dadada;
  }
  &-bot {
    padding: 20px;
  }
  &__thumb {
    img {
      border-radius: 3px;
      object-fit: cover;
    }
    margin-bottom: 7px;
  }
  &__title {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba($color: #000000, $alpha: 0.4);
    margin-bottom: 7px;
  }
  &__text {
    color: #00c6ae;
  }
}

.aside-sub {
  &__title {
    font-weight: 500;
    margin-bottom: 14px;
  }
}

.form-row {
  margin-bottom: 10px;
}
// Blog page  - end ===============================================================

// ----------------------------------------------------------------------------
// Link responsive style
// ----------------------------------------------------------------------------
@import 'responsive';
