@font-face {
    font-family: 'Noah';
    src: url('Noah-Bold.woff2') format('woff2'),
        url('Noah-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('Apercu-Regular.woff2') format('woff2'),
        url('Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bayshore';
    src: url('Bayshore.woff2') format('woff2'),
        url('Bayshore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

