// ----------------------------------------------------------------------------
// Link libraries
// ----------------------------------------------------------------------------
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'grid';
@import 'owl.carousel.min';
@import 'selectric';
@import 'jquery.popup';

// ----------------------------------------------------------------------------
// Base settings
// ----------------------------------------------------------------------------
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}
body {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  color: $c-text;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

h1,
h2,
.h1,
.h2 {
  font-family: 'Playfair Display', serif;
  a {
    color: inherit;
    text-decoration: none;
  }
}
h3,
h4,
.h3,
.h4 {
  font-weight: 700;
  font-size: 21px;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.h3-light {
  font-size: 18px;
  font-weight: 700;
}
.h3-upper {
  text-transform: uppercase;
}
h1,
.h1 {
  font-size: 53px;
}
h2,
.h2 {
  font-size: 43px;
}
p {
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.85px;
}
a {
  text-decoration: underline;
  text-decoration-style: dashed;
  outline: none;
  text-underline-position: under;
  color: $c-link;
  &:hover {
    text-decoration: none;
    text-decoration-style: unset;
  }
  &:hover,
  &:active,
  &:visited,
  &:focus {
    outline: none;
  }
}
a.text-link {
  color: inherit;
  text-decoration: none;
}
a.btn {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
button {
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
input,
select,
.selectric,
textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  background-color: #f9f9f9;
  padding: 35px;
  letter-spacing: 1.15px;
  transition: all 0.3s;
  &::placeholder {
    color: #898989;
    text-transform: uppercase;
  }
  &:focus {
    border: 1px solid #d6d6d6;
  }
  .button {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

textarea {
  height: 150px;
  resize: none;
  width: 100%;
}

.selectric {
  padding: 24.5px;
  .label {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.selectric-items {
  top: 100%;
  .disabled {
    display: none;
  }
}
ul,
ol {
  font-weight: 300;
}

.list-mark {
  li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.13);
      background-color: #96ba5b;
      background-image: linear-gradient(-123deg, #96ba5b 0%, #b3e167 100%);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0.33em;
    }
  }
}

.list-num {
  counter-reset: my-counter;
  li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 15px;
    counter-increment: my-counter;
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: counter(my-counter);
      display: block;
      width: 20px;
      height: 20px;
      box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.13);
      background-color: #bce37c;
      background-image: linear-gradient(-123deg, #96ba5b 0%, #b3e167 100%);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0px;
      font-size: 13px;
      color: #ffffff;
      text-align: center;
      line-height: 20px;
    }
  }
}

.list-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  li {
    padding: 6px 20px 6px 41px;
    box-shadow: 0 0 30px 10px rgba(220, 222, 237, 0.4);
    border-radius: 2px;
    background-color: #ffffff;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      top: 0.7em;
      left: 20px;
    }
  }
}

.ui-element-text-editor {
  font-size: 16px;
  letter-spacing: 0.5px;
  p {
    letter-spacing: 0.5px;
  }
  ul {
    @extend .list-mark;
  }
  ol {
    @extend .list-num;
  }
  em {
    font-style: italic;
  }
  b,
  strong {
    font-weight: bold;
  }
  blockquote,
  q {
    padding: 20px;
    margin: 20px 0;
    background: #f7f7f7;
    border-radius: 10px;
  }
}

.ui-element-text-editor {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-bottom: 0.5em;
  }
  p,
  ul,
  ol {
    margin-bottom: 0.8em;
  }
  .section-title {
    margin-bottom: 1em;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  &__list {
    display: flex;
    align-items: center;
  }
  a.next,
  a.prev {
    display: block;
    font-size: 0px;
    width: 15px;
    height: 15px;
    background: url('../img/icons/slider-arrow.svg') repeat-x center;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: -6px;
      top: 0;
      width: 15px;
      height: 15px;
      background: url('../img/icons/slider-arrow.svg') repeat-x center;
    }
  }
  a.prev {
    margin-right: 25px;
  }
  a.next {
    margin-left: 25px;
    transform: rotate(180deg);
  }

  .page-numbers:not(.next):not(.prev) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: $c-text;
    margin-right: 5px;
  }
  a.page-numbers:last-child {
    margin-right: 0;
  }

  span.current:not(.next):not(.prev) {
    color: #ffffff;
    box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.13);
    background-color: #ffcb5a;
    background-image: linear-gradient(-123deg, #96ba5b 0%, #b3e167 100%);
  }
}

.wp-block-columns {
  @extend .container;
}

// ----------------------------------------------------------------------------
// Common styles
// ----------------------------------------------------------------------------
.container .container {
  padding-left: 0;
  padding-right: 0;
}

.mob-elem {
  display: none;
}
.text {
  &_left {
    text-align: left;
  }
  &_center {
    text-align: center;
  }
  &_right {
    text-align: right;
  }
}
.text_bold,
b {
  font-weight: 500;
}
strong {
  font-weight: 700;
}

.btn,
a.btn {
  padding: 32px 25px 30px 25px;
  color: #ffffff;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 38px rgba(23, 46, 142, 0.38),
    inset 0 0 9px rgba(255, 255, 255, 0.13);
  background-color: #4473ff;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.27px;
  position: relative;
  max-width: 382px;
  width: 100%;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0px 48px rgba(23, 46, 142, 0.78),
      inset 0 0 9px rgba(255, 255, 255, 0.43);
  }
  span {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #172e8e 0%, #4473ff 100%);
    z-index: 1;
    border-radius: 10px;
  }
  &::before {
    content: '';
    display: block;
    border-radius: 20px;
    background-color: #253576;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 40px;
    left: 0;
    z-index: 0;
  }
  &-lines {
    display: inline-flex;
    flex-direction: column;
  }
  &-more {
    max-width: 211px;
    padding: 28px 40px 26px 40px;
    font-size: 12px;
  }
  &-yellow {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 1.39px;
    text-transform: uppercase;
    box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    background-image: linear-gradient(-123deg, #96ba5b 0%, #b3e167 100%);
    text-decoration: none;
    padding: 30px 66px;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      box-shadow: inset 0 0 19px rgba(255, 255, 255, 0.9);
    }
    span {
      color: #ffffff;
    }
  }
  &-circle {
    width: 43px;
    height: 43px;
    background-color: #96ba5b;
    background-image: linear-gradient(-123deg, #96ba5b 0%, #b3e167 100%);
    border-radius: 50%;
    position: relative;
    transition: all 0.3s;
    &:hover {
      box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.6);
    }
    img {
      max-width: 13px;
      position: absolute;
      left: 48%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-img {
      width: 47px;
      height: 47px;
    }
  }
  &__text {
    font-weight: 500;
  }
  &__text-light {
    margin-top: 3px;
    font-weight: 300;
  }
}
// .section {
//     margin-bottom: 80px;
//     h1, .h1, h2, .h2, h3, .h3{
//         margin-bottom: 0.5em;
//     }
// }

.section-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.29px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 53px;
  line-height: 1.2;
  &__main {
    text-transform: uppercase;
  }
}

.pre-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.wpcf7-form:not(.form-row) {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  input,
  .selectric-wrapper,
  textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  [type='submit'] {
    margin-top: 10px;
  }
}

.form {
  &_white {
    input {
      background-color: #ffffff;
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      width: 300px;
    }
    [type='submit'] {
      max-width: 350px;
      width: 350px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &-col {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    input,
    .selectric-wrapper,
    textarea {
      width: 100%;
      margin-bottom: 20px;
    }
    [type='submit'] {
      margin-top: 10px;
    }
  }
  &-box {
    padding: 50px;
    box-shadow: 0 0 30px 10px rgba(220, 222, 237, 0.26);
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 456px;
  }
  &__rules {
    letter-spacing: 0.7px;
    font-size: 13px;
    color: #78787c;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    &_bold {
      font-weight: 400;
    }
    &:first-of-type {
      margin-top: 36px;
    }
    a {
      color: #78787c;
    }
  }
  // Contact form 7 фикс
  & > p {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
  }
}

body .wpcf7 .wpcf7-response-output {
  border: none;
  padding: 0;
  font-size: 14px;
  margin: 30px 0 0 0;
}
.wpcf7-not-valid-tip {
  font-size: 10px;
  position: absolute;
  top: calc(100% + 15px);
  left: 15px;
}

.entry-content > p,
.entry-header {
  @extend .container;
}

.alignleft {
  float: left;
  padding-right: 10px;
}

.alignright {
  float: right;
  padding-left: 10px;
}

.aligncenter,
.alignnone {
  display: block;
  margin-bottom: 15px;
}

.aligncenter {
  margin: 0 auto 15px auto;
}

div.wpcf7 .ajax-loader {
  display: none !important;
}

.form-format-col {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.form-format-row {
  form.wpcf7-form,
  form {
    max-width: none;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      span {
        margin: 0 10px 20px 10px;
      }
    }
    input {
      width: 300px;
      margin: 0 auto;
    }
    button[type='submit'] {
      max-width: 350px;
      margin: 0 10px 20px 10px;
    }
  }
}
// ----------------------------------------------------------------------------
// Header styles
// ----------------------------------------------------------------------------
.no-webp .header {
  background: url('../img/header-bg.jpg') no-repeat center top;
}
.webp .header {
  background: url('../img/header-bg.webp') no-repeat center top;
}

.no-webp .header-banner {
  background: url('../img/header-bg.jpg') no-repeat center bottom;
}
.webp .header-banner {
  background: url('../img/header-bg.webp') no-repeat center bottom;
}

.header {
  padding-bottom: 30px;
  margin-bottom: 50px;
  z-index: 3;
  &-main {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  &-top-row {
    padding: 25px 0 43px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-banner {
    padding: 83px 0 112px 0;
    overflow: hidden;
    position: relative;
    .container {
      position: relative;
      z-index: 3;
    }
  }
  &__logo {
    flex-shrink: 1;
  }
  &__title {
    margin-bottom: 57px;
  }
  &__cta {
    max-width: 485px;
    margin-left: 80px;
    position: relative;
    z-index: 2;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
  &__img {
    margin-right: 15px;
    width: 87px;
  }
  &__text {
    display: block;
    max-width: 270px;
    color: #414141;
  }
}

.info-email {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  &__item {
    padding-left: 28px;
    margin-bottom: 14px;
    position: relative;
    text-decoration-skip-ink: none;
    text-underline-position: under;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 16px;
    text-decoration-style: dashed;
  }
  &__img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 15px;
  }
}

.messagers-list {
  display: flex;
  align-items: center;
  &__item {
    width: 46px;
    height: 43px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 10px 2px rgba(209, 209, 209, 0.25);
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      max-width: 26px;
    }
  }
}

.call-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  &__number {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .call-back__btn {
    padding: 20px 35px;
    span {
      font-size: 10px;
      text-shadow: 0 2px 0 #84a946;
    }
  }
}

.nav {
  margin-bottom: -15px;
  > ul {
    display: flex;
    align-items: center;
    li {
      font-size: 18px;
      margin-right: 35px;
      letter-spacing: 0.1px;
      font-weight: 300;
      position: relative;
      padding-bottom: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        ul.sub-menu {
          display: block;
        }
      }
      a {
        color: #242230;
        text-decoration: none;
        text-decoration-skip-ink: none;
        text-underline-position: under;
        &:hover {
          text-decoration: underline;
          text-decoration-style: dashed;
        }
      }
    }
  }
  ul.sub-menu {
    position: absolute;
    box-shadow: 0 0 30px 10px rgba(220, 222, 237, 0.26);
    background-color: #fff;
    padding: 20px;
    top: 100%;
    z-index: 100;
    display: none;
    li {
      font-size: 16px;
      white-space: nowrap;
      margin-bottom: 12px;
      padding-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.25px;
  &__line-1 {
    font-size: 50px;
  }
  &__line-2 {
    font-size: 50px;
  }
  &__line-3 {
    font-size: 45px;
    text-transform: none;
    line-height: 1;
  }
}

.people-picture {
  position: relative;
  height: 100%;
  min-height: 460px;
  &__img {
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
    width: 789px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 16px;
    z-index: 4;
    position: absolute;
    letter-spacing: 0.4px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 44px;
      height: 40px;
      background: url('../img/icons/name-line.svg') no-repeat center / cover;
      z-index: 3;
      top: -30px;
      left: 65px;
    }
  }
  &__text-name {
    padding: 16px 24px;
    background-color: #8a8a8a;
    color: #ffffff;
    border-radius: 2px;
    z-index: 2;
  }
  &__text-position {
    padding: 21px 24px 13px 24px;
    border-radius: 2px;
    background-color: #f4f4f4;
    z-index: 1;
    margin-top: -7px;
    margin-left: 2px;
  }
  &__text_1 {
    bottom: 20px;
    left: -115px;
  }
  &__text_2 {
    right: -30px;
    top: 300px;
  }
}

.webp .cta-consult::before {
  background-image: url('../img/header-docs.webp');
}
.no-webp .cta-consult::before {
  background-image: url('../img/header-docs.png');
}
.cta-consult {
  position: relative;
  letter-spacing: 0.85px;
  &::before {
    content: '';
    display: block;
    width: 156px;
    height: 171px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    right: calc(100% + 25px);
    top: -22px;
  }
  &__title {
    margin-bottom: 2px;
  }
  &__text {
    margin-bottom: 65px;
    line-height: 1.4;
  }
}
// ----------------------------------------------------------------------------
// Footer styles
// ----------------------------------------------------------------------------
.to-top {
  width: 44px;
  height: 44px;
  background-color: #d8d8d8;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.3s, box-shadow 0.3s;
  position: fixed;
  bottom: -200px;
  right: 365px;
  z-index: 100;
  img {
    max-width: 15px;
    transition: bottom 0.3s;
    position: relative;
    bottom: 0;
  }
  &:hover {
    img {
      bottom: 4px;
    }
  }
  &_active {
    bottom: 20px;
  }
  &_footer_active {
    position: absolute;
    right: 20px !important;
    top: 0;
    bottom: auto;
  }
}
.footer {
  &-main {
    padding: 36px 0 42px 0;
    background-color: #f4f4f4;
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-row-copy {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    color: #938b8b;
    font-size: 15px;
    a {
      color: #938b8b;
      text-decoration: none;
      font-weight: 300;
      text-underline-position: auto;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-nav {
    position: relative;
    margin-bottom: 30px;
    .nav {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__dev {
    a {
      color: #242230;
    }
  }
}

.mob-menu {
  display: none;
}
.mob-btn-menu {
  transition: transform 0.3s;
  transform-origin: center;
  &:hover {
    transform: rotate(90deg);
  }
}

.site-main {
  margin: 80px 0;
  p {
    line-height: 1.5;
  }
  .entry-content {
    section,
    .ui-element {
      margin-bottom: 80px;
    }
  }
}

.post-image {
  float: left;
  padding: 0px 20px 20px 0;
}

// ----------------------------------------------------------------------------
// Header and footer responsive style
// ----------------------------------------------------------------------------
@media screen and (min-width: 768px) {
  .form-text-area,
  .wpcf7-form.form-text-area {
    max-width: none;
    &__main {
      display: flex;
    }
    &__left {
      display: flex;
      flex-direction: column;
    }
    &__right {
      flex-grow: 1;
      margin-left: 20px;
      max-height: 198px;
      .wpcf7-form-control-wrap {
        display: block;
        height: 100%;
        textarea {
          height: 100%;
        }
      }
    }
    .btn {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .form-col .wpcf7-not-valid-tip {
    top: calc(100% - 18px);
  }
}

@media screen and (max-width: 1599px) {
  .to-top {
    right: 205px;
  }
}
@media screen and (max-width: 1439px) {
  .to-top {
    right: 105px;
  }

  .header-banner {
    padding-bottom: 62px;
  }

  .people-picture__img {
    position: absolute;
    left: 48%;
    top: 30px;
    width: 619px;
  }
}
@media screen and (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  .no-webp,
  .webp {
    .header {
      background-position-y: -90px;
    }
  }

  .main-title {
    &__line-1 {
      font-size: 42px;
    }

    &__line-2 {
      font-size: 42px;
    }

    &__line-3 {
      font-size: 36px;
    }
  }

  .logo__text {
    display: none;
  }

  .people-picture__img {
    left: 47%;
    top: 80px;
    width: 530px;
  }

  .people-picture__text_2 {
    right: -30px;
    top: 320px;
  }

  .people-picture__text_1 {
    left: -55px;
    bottom: -20px;
  }

  .header-banner {
    padding: 60px 0;
  }

  .header__cta {
    max-width: 385px;
  }

  .form-row input {
    max-width: 270px;
  }

  .form-row [type='submit'] {
    max-width: 300px;
  }

  .content section {
    margin-bottom: 100px;
  }

  .to-top {
    right: 50px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 991px) {
  .no-webp,
  .webp {
    .header {
      background-size: 169%;
      background-size: cover;
      background-attachment: fixed;
      background-position-y: 0px;
    }
    .header-banner {
      background-size: cover;
      background-attachment: fixed;
    }
  }

  h2,
  .h2 {
    font-size: 36px;
  }
  .wrapper .section-title,
  .wrapper .section-title__pre {
    font-size: 36px;
  }
  .mob-elem {
    display: block;
  }
  .mob-phones {
    display: flex;
    align-items: center;
    .mob-btn-callback,
    .mob-btn-menu_open {
      transition: none;
    }
    a {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .mob-btn-menu {
    &_open {
      background-color: transparent;
      padding: 0;
      max-width: 26px;
    }
  }
  .header {
    &-main {
      padding-bottom: 0;
    }
    &__info,
    &__messagers,
    &__call-back {
      display: none;
    }
    &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .mob-btn-callback,
    .mob-btn-menu_open {
      margin-bottom: 89px;
      margin-top: 32px;
    }
  }
  .header-top-row {
    padding: 34px 0;
  }
  .header-banner {
    padding: 30px;
  }
  .header__cta {
    margin: 0 auto;
  }
  .header-nav {
    display: none;
  }
  .logo {
    flex-direction: column;
    &__img {
      margin-right: 0;
    }
    &__text {
      display: block;
      width: 185px;
      text-align: center;
      margin-top: 14px;
    }
  }
  .main-title {
    text-align: center;
  }

  .people-picture__img {
    top: 53px;
    width: 514px;
  }
  .people-picture__text_1 {
    left: 55px;
    bottom: 10px;
  }
  .people-picture__text_2 {
    right: 110px;
  }

  .form-row {
    justify-content: center;
    & > p {
      justify-content: center;
    }
    input {
      margin: 0 20px 20px 20px;
    }
  }

  .call-back .call-back__btn {
    padding: 20px 30px;
  }

  .mob-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.82);
    z-index: 1000;
    overflow-y: auto;
    .mob-btn-menu_close {
      position: absolute;
      left: 20px;
      top: 60px;
      width: 23px;
      max-width: 23px;
      padding: 0;
      background: transparent;
    }
    &-wrap {
      position: absolute;
      left: 65px;
      box-shadow: 0 0 30px 10px rgba(220, 222, 237, 0.26);
      border-radius: 10px;
      background-color: #ffffff;
      padding: 20px 0 40px 0;
    }
    &-wrap__nav {
      margin-bottom: 47px;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
          width: 100%;
          padding: 15px 40px;
          font-size: 16px;
          border-bottom: 1px solid rgba($color: #8e8e91, $alpha: 0.21);
          a {
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
          ul,
          ul.sub-menu {
            left: 0px;
            top: 0px;
            padding: 0;
            width: 100%;
            box-shadow: 0 0 30px 10px rgba(160, 160, 160, 0.26);
            margin-bottom: 0;
            li {
              padding: 0;
              // border: none;
              font-size: 14px;
              white-space: normal;
              margin-bottom: 0;
              a {
                display: block;
                padding: 16.25px 20px;
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    &-wrap__info {
      padding: 0 15px 0 44px;
    }
    &__info {
      margin-left: -28px;
    }
    &__messagers {
      margin: 25px 0;
    }
    &__call-back {
      align-items: flex-start;
    }
  }
}
@media screen and (max-width: 766px) {
  h3,
  h4,
  .h3,
  .h4 {
    font-weight: 700;
    font-size: 16px;
  }
  .h3-light {
    font-size: 16px;
    font-weight: 700;
  }
  h1,
  .h1 {
    font-size: 28px;
  }
  h2,
  .h2 {
    font-size: 26px;
  }

  .section {
    margin-bottom: 40px;
  }

  .alignleft,
  .alignright {
    display: block;
    float: none;
    padding: 0;
    margin-bottom: 15px;
  }

  .main-title {
    margin-bottom: 30px;
    span {
      font-size: 28px;
    }
    .main-title__line-3 {
      font-size: 24px;
    }
  }
  .pre-title {
    font-size: 16px;
  }

  .wrapper .section-title {
    margin-bottom: 30px;
  }
  .wrapper .section-title,
  .wrapper .section-title__pre {
    font-size: 22px;
  }

  .header-banner {
    padding: 0;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    padding-bottom: 0;
    .logo .logo__text {
      display: none;
    }
    .header-top-row {
      padding: 10px 0 20px 0;
      .mob-btn-callback,
      .mob-btn-menu_open {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }

  .header__logo {
    img {
      max-width: 75px;
    }
  }

  .wrapper {
    margin-top: 107px;
  }

  .cta-consult__text {
    margin-bottom: 30px;
  }
  .people-picture__text {
    font-size: 12px;
  }

  .people-picture__text_1 {
    left: -5px;
    bottom: 30px;
    z-index: 5;
  }
  .people-picture__text_2 {
    right: 70px;
  }
  .people-picture {
    &__text-name {
      padding: 8px 12px;
    }
    &__text-position {
      padding: 12px 12px 8px 12px;
    }
  }

  .people-picture__img {
    width: 479px;
  }

  .btn-yellow,
  a.btn-yellow {
    padding: 20px 30px;
  }

  input {
    padding: 25px;
  }

  //   .form input {
  //     max-width: 320px;
  //     margin: 0 auto 20px auto;
  //   }
  .form:not(.form-row),
  .wpcf7-form:not(.form-row) {
    margin-left: auto;
    margin-right: auto;
    .wpcf7-form-control-wrap {
      width: 100%;
    }
    input,
    textarea,
    select,
    .selectric {
      display: block;
      max-width: 320px;
      margin: 0 auto 20px auto;
    }
  }

  .form-row input {
    width: 100%;
  }

  .form-format-row {
    form.wpcf7-form,
    form {
      p {
        span {
          margin: 0 10px 20px 10px;
        }
      }
      input {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
      }
      button[type='submit'] {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px 10px 20px 10px;
      }
    }
  }

  .site-main {
    margin: 40px 0;
    .entry-content {
      section,
      .ui-element {
        margin-bottom: 60px;
      }
    }
  }
  .post-image {
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .popup {
    .close {
      top: 15px;
      right: 15px;
    }
  }

  .popup-body {
    padding: 30px 20px;
    max-width: 95%;
  }
}
@media screen and (max-width: 419px) {
  .people-picture__text_2 {
    right: 0px;
    top: 280px;
  }
  .people-picture__img {
    width: 390px;
  }
  .people-picture__text_1 {
    left: -5px;
    bottom: 20px;
  }
  .people-picture {
    min-height: 385px;
  }
  .alignleft,
  .alignright {
    width: 100%;
    margin: 0 auto 15px auto;
  }
}
@media screen and (max-width: 360px) {
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 18px;
  }
  .wrapper .section-title,
  .wrapper .section-title__pre {
    font-size: 18px;
  }

  .people-picture__text_2 {
    right: -10px;
    top: 260px;
  }
  .people-picture__text_1 {
    left: -10px;
  }
  .main-title {
    margin-bottom: 30px;
    span {
      font-size: 22px;
    }
    .main-title__line-3 {
      font-size: 19px;
    }
  }

  .btn,
  a.btn {
    font-size: 14px;
    padding: 27px 17px 25px 17px;
  }

  .mob-phones {
    a {
      margin-right: -6px;
      transform: scale(0.7);
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1110px) {
  .header-banner {
    padding-bottom: 30px;
  }
  .main-title {
    &__line-1 {
      font-size: 34px;
    }

    &__line-2 {
      font-size: 34px;
    }

    &__line-3 {
      font-size: 28px;
    }
  }
  .people-picture__img {
    left: 37%;
    top: 0px;
    width: 580px;
  }

  .header__cta {
    margin-left: 00px;
  }
  .cta-consult__text {
    margin-bottom: 30px;
  }
  .people-picture__text_1 {
    left: -135px;
    bottom: 10px;
  }
  .people-picture__text_2 {
    right: 0px;
    top: 300px;
  }
  .cta-consult::before {
    display: none;
  }
}
