@media screen and (max-width: 1440px) {
  .cases-section__slider .cases-slider__nav {
    right: -0px;
    top: -45px; } }

@media screen and (max-width: 1200px) {
  .header::before {
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  .header-menu {
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header-menu__main {
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header-menu__logo {
      margin-right: 20px; }
    .header-menu__nav {
      margin-right: 0px; }
    .header-menu__phone {
      margin: 0; }
    .header-menu__btn {
      margin-left: 0; }
  .header-main {
    margin-top: 100px; }
    .header-main__industry {
      margin-bottom: 70px; }
    .header-main__parters {
      margin-bottom: 40px; }
  .nav__item {
    margin-right: 30px; }
  .cases-section__slider .cases-slider__nav {
    right: -23px; }
  .our-blog__images a {
    margin-right: 20px; }
    .our-blog__images a:last-child {
      margin-right: 0; }
  .cases-page__wrap .cases-page-slider {
    margin-right: -44px; }
  .cases-page__wrap .case-card {
    height: 407px; }
    .cases-page__wrap .case-card__body {
      min-height: 142px; }
  .cases-slider__counter {
    text-align: center; }
  .step-title {
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.4em; }
  .team-card {
    height: 312px; }
  .about-row {
    padding: 34px 90px;
    background-position-x: right; }
  .review-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
    .review-item-main {
      height: auto;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .review-item-top {
      position: relative;
      z-index: 1; }
      .review-item-top__name {
        margin-top: 55px;
        margin-left: 10px; }
  .footer__contacts {
    max-width: 300px; } }

@media screen and (max-width: 992px) {
  .text-18, .text-article .text-18 {
    font-size: 16px; }
  .text-p {
    font-size: 14px; }
  .text-article p {
    font-size: 14px;
    margin-bottom: 22px; }
    .text-article p:last-child {
      margin-bottom: 0;
      margin-top: 22px; }
  .text-article .h2 {
    font-size: 16px;
    margin-bottom: 16px; }
  .list li {
    line-height: 1.5em;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px; }
  .list__title {
    font-size: 16px; }
  .list_cols {
    margin-right: 0; }
    .list_cols li {
      width: 100%; }
  .h1 {
    font-size: 20px; }
  .h3 {
    font-size: 16px; }
  .mb-30 {
    margin-bottom: 20px; }
  .form-rules {
    margin-top: 20px; }
  .header {
    padding-bottom: 16px; }
    .header_drop {
      margin-bottom: 0; }
    .header_main {
      padding-bottom: 0; }
    .header::before {
      background-image: url("../img/header-mob-bg.png");
      width: 256px;
      height: 584px;
      -ms-transform: none;
      transform: none;
      left: auto;
      right: 0; }
    .header-menu {
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 16px; }
      .header-menu__main {
        display: none;
        overflow-y: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 64px;
        bottom: 0;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
        background-color: #e7edee;
        z-index: 1000;
        padding: 30px 0;
        animation: fadeIn 0.5s; }
        .header-menu__main_active {
          display: -ms-flexbox;
          display: flex; }
      .header-menu__btn {
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 20px;
        width: 256px; }
      .header-menu__phone {
        font-size: 24px;
        -ms-flex-order: 1;
        order: 1;
        display: block;
        margin-bottom: 20px; }
      .header-menu__nav {
        -ms-flex-order: 3;
        order: 3;
        width: 256px; }
      .header-menu__social {
        margin-top: 20px;
        -ms-flex-order: 4;
        order: 4; }
    .header-main__h1 {
      margin-left: 16px;
      margin-bottom: 12px;
      line-height: 1.2em;
      font-size: 24px; }
      .header-main__h1::before {
        left: -16px; }
    .header-main__pre-title {
      margin-left: 16px;
      font-size: 14px;
      line-height: 1.2em;
      margin-bottom: 33px; }
      .header-main__pre-title a {
        border-width: 1px; }
    .header-main__industry-title {
      font-size: 16px;
      margin-bottom: 20px; }
    .header-main__industry-list {
      margin-bottom: -15px; }
    .header-main__industry-item {
      width: calc(100% / 2);
      font-size: 14px;
      margin-bottom: 15px; }
    .header-main__parters {
      margin-bottom: 0; }
      .header-main__parters .parter-item {
        min-height: auto;
        height: 40px;
        margin-right: 16px;
        margin-bottom: 16px; }
        .header-main__parters .parter-item:last-child {
          margin-right: 0;
          margin-bottom: 16px; }
        .header-main__parters .parter-item__img img {
          width: 39px;
          min-width: auto; }
        .header-main__parters .parter-item__text {
          max-width: 100px;
          padding: 0 10px;
          font-size: 8px;
          color: #313745; }
        .header-main__parters .parter-item_img img {
          width: 100px;
          height: 40px; }
    .header_menu-active > .container {
      background-color: #ffffff; }
  @keyframes fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .mob-menu-open {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 8px;
    transition: all 0.3s; }
    .mob-menu-open_active {
      -ms-transform: rotate(-90deg) translateX(-5px) translateY(5px);
      transform: rotate(-90deg) translateX(-5px) translateY(5px); }
  .logo {
    width: 97px;
    height: 32px;
    margin: 0; }
  .nav__list {
    margin-top: 0;
    display: block;
    position: relative;
    background-color: #e7edee; }
  .nav__item {
    font-size: 18px;
    line-height: 1.3em;
    white-space: normal;
    padding: 25px 0;
    margin: 0; }
    .nav__item a {
      display: inline-block;
      width: 100%;
      padding-right: 20px; }
    .nav__item::after {
      display: none; }
  .nav-wrap {
    overflow: hidden; }
  .nav__drop {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0; }
    .nav__drop::after {
      display: none; }
    .nav__drop .nav__item {
      padding: 25px 0;
      position: static; }
      .nav__drop .nav__item .nav__drop {
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        .nav__drop .nav__item .nav__drop::after {
          display: none; }
    .nav__drop .nav__item-drop .nav__item {
      font-size: 18px; }
    .nav__drop .container {
      padding: 0; }
    .nav__drop-list {
      -ms-flex-direction: column;
      flex-direction: column; }
  .nav .nav__item-drop > a::after {
    bottom: 9px;
    right: 7px;
    width: 9px;
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: none; }
  .nav__drop_mob-active {
    visibility: visible; }
  .nav__drop_mob-disable {
    visibility: hidden; }
  .mob-menu-header {
    padding-top: 16px;
    display: block; }
    .mob-menu-header__btn {
      margin-bottom: 32px;
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background-color: transparent;
      font-weight: 500; }
      .mob-menu-header__btn::before {
        content: "";
        display: inline-block;
        margin-right: 12px;
        width: 9px;
        height: 8px;
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/icons/down-ico.svg");
        transition: transform 0.3s; }
    .mob-menu-header__title {
      font-size: 20px; }
      .mob-menu-header__title a {
        display: inline-block;
        width: 100%;
        color: #42bdce;
        margin-bottom: 10px; }
  .social-icons__item {
    width: auto;
    height: auto; }
    .social-icons__item a {
      border-radius: 5px;
      width: 120px;
      height: 40px;
      background-color: #42bdce;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px; }
  .social-icons__btn {
    display: block; }
  .social-icons__img {
    margin-right: 4px; }
    .social-icons__img_inst {
      background-image: url("../img/icons/social-ico-1.svg"); }
    .social-icons__img_fb {
      background-image: url("../img/icons/social-ico-2.svg"); }
  .parters {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .parter-item {
    margin-bottom: 20px;
    height: auto; }
    .parter-item:last-child {
      margin-bottom: 0; }
  .cases-section {
    padding: 32px 0 52px 0; }
  .cases-section__nav {
    margin-top: 24px;
    margin-bottom: 0; }
  .cases-section__slider, .cases-page-slider {
    height: 368px;
    margin-left: -15px; }
    .cases-section__slider .cases-slider, .cases-page-slider .cases-slider {
      right: -15px;
      width: 100%; }
    .cases-section__slider .case-card, .cases-page-slider .case-card {
      margin-right: 16px;
      max-width: 272px;
      height: 368px; }
    .cases-section__slider .cases-slider__nav, .cases-page-slider .cases-slider__nav {
      top: auto;
      right: auto;
      bottom: -30px;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -ms-flex-pack: center;
      justify-content: center; }
    .cases-section__slider .cases-slider-arrow, .cases-page-slider .cases-slider-arrow {
      visibility: hidden; }
  .section-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px; }
    .section-header__title {
      position: static;
      -ms-transform: none;
      transform: none;
      writing-mode: horizontal-tb;
      max-width: none;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .section-header__mob-more {
      display: block; }
    .section-header__list-nav {
      display: none; }
    .section-header__select-nav {
      display: block; }
  .case-card__title {
    max-width: 190px; }
  .case-card__body {
    min-height: 152px;
    padding: 22px 24px; }
  .select-nav {
    margin-top: 24px;
    width: 100%;
    border: 1px solid #dae1e2;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 10px); }
  .services-section .container {
    margin-bottom: -25px; }
  .services-section p {
    color: #ffffff; }
  .service-item {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px; }
    .service-item__ico {
      margin-bottom: 10px; }
    .service-item__title {
      margin-bottom: 10px; }
  .partners-slider {
    padding: 20px 0 40px 0;
    margin-bottom: 35px; }
    .partners-slider .slick-list {
      margin-left: -15px; }
    .partners-slider .partners-slider__item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: -16px;
      margin-left: 15px; }
      .partners-slider .partners-slider__item img {
        width: 48%;
        margin-right: 0;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #dae1e2;
        height: 72px;
        margin-bottom: 16px;
        object-fit: contain; }
  .our-blog__title {
    font-size: 18px; }
  .our-blog__images {
    display: block; }
    .our-blog__images .slick-list {
      margin-left: -15px; }
    .our-blog__images a {
      margin-right: 0;
      margin-left: 15px; }
      .our-blog__images a img {
        width: 100%;
        margin-right: 0;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #dae1e2;
        height: 72px;
        object-fit: contain; }
  .slick-dots {
    margin-top: 25px; }
  .map-section {
    border-top: 1px solid #e7edee;
    padding-top: 34px;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .map-section .map-frame {
      margin-top: 20px;
      position: static;
      width: 100%;
      height: 320px; }
  .info-card {
    padding: 0px; }
    .info-card__btn {
      width: 100%;
      text-align: center;
      max-width: 380px; }
  .page-section-col {
    margin-bottom: 30px; }
  .breadcrumbs {
    margin-bottom: 0px; }
    .breadcrumbs__item {
      margin-bottom: 0;
      line-height: 2em; }
      .breadcrumbs__item .page-title {
        font-size: 20px; }
      .breadcrumbs__item::after {
        font-size: 22px;
        bottom: 0; }
  .page-wrapper section:last-child {
    padding-bottom: 40px; }
  .page-title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px; }
    .page-title__pre {
      margin-top: 10px;
      margin-bottom: 0; }
  .cases-page__wrap .cases-page-slider {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -15px; }
  .cases-page__wrap .case-card {
    margin-bottom: 0; }
    .cases-page__wrap .case-card__body {
      min-height: 152px; }
  .cases-page__wrap .cases-slider__nav {
    display: block; }
  .cases-page__wrap .cases-slider-arrow {
    visibility: hidden; }
  .case-top-section {
    color: #313745;
    padding-bottom: 0; }
    .case-top-section__bg {
      display: none; }
    .case-top-section::before {
      display: none; }
    .case-top-section p {
      color: #8a9091; }
  .load-cirlce {
    display: none; }
  .team-wrap {
    display: block;
    margin-bottom: 20px; }
  .team-card {
    max-width: 272px;
    height: 384px;
    width: 100%;
    margin: 0 16px 0 0; }
  .team-counter {
    display: block;
    text-align: center; }
  .team-main__thumb {
    overflow: hidden;
    max-height: 305px;
    width: 288px;
    margin-left: auto;
    margin-right: auto; }
  .team-main__thumb-title {
    margin-top: 19px;
    margin-bottom: 27px; }
  .team-main__cite {
    font-size: 14px;
    margin-bottom: 27px; }
  .certificate-slider .slick-list {
    margin-right: -16px; }
  .certificate-slider__item {
    margin-right: 16px; }
    .certificate-slider__item img {
      width: 100%; }
  .map-page .info-card {
    border: 0; }
  .map-page-frame {
    min-height: 320px;
    -ms-flex-positive: none;
    flex-grow: none;
    margin-top: 20px;
    position: relative; }
    .map-page-frame img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover; }
  .page-about .h2 {
    font-size: 16px;
    font-weight: 500; }
  .about-row-container {
    padding: 0; }
  .about-row {
    padding: 30px 15px;
    font-size: 13px;
    background-image: url("../img/about-mob-bg.jpg");
    border-radius: 0; }
  .icons-list li {
    width: 100%; }
  .tabs__select {
    display: block; }
  .tabs__caption {
    display: none; }
  .smi-item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
    .smi-item:last-child {
      margin-bottom: 0; }
  .smi-thumb {
    width: 208px;
    height: 60px;
    padding: 0;
    border-radius: 0;
    border: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 0px;
    margin-bottom: 10px; }
  .smi-main {
    border-radius: 0;
    border: 0;
    padding: 0;
    max-height: 290px;
    overflow: auto; }
    .smi-main__date {
      margin-bottom: 20px; }
    .smi-main__title {
      margin-bottom: 20px; }
  .review-container {
    padding: 0; }
  .review-wrap {
    margin-right: -20px;
    margin-bottom: 0; }
    .review-wrap .slick-dots {
      margin-left: auto;
      margin-right: auto; }
  .review-item {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0; }
    .review-item-top {
      display: -ms-flexbox;
      display: flex;
      padding: 0 15px;
      margin-bottom: -20px; }
      .review-item-top__img {
        width: 96px;
        height: 96px; }
      .review-item-top__name {
        font-size: 12px;
        line-height: 2em;
        height: auto;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: auto; }
    .review-item-main {
      border-radius: 0;
      padding: 30px 15px 30px 15px; }
      .review-item-main__text {
        margin-bottom: 20px;
        max-height: 110px;
        overflow: auto; }
        .review-item-main__text p {
          margin-top: 0;
          margin-bottom: 20px; }
          .review-item-main__text p:last-child {
            margin-top: 0; }
  .overlay .close {
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/popup-close-mob.svg");
    right: 16px;
    top: 40px; }
  .review-popup {
    padding: 34px 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f2f5f6; }
    .review-popup::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 160px;
      background-color: #ffffff;
      z-index: -1; }
    .review-popup__title {
      display: block;
      margin-left: 15px;
      margin-bottom: 24px; }
    .review-popup-body {
      height: auto; }
    .review-popup-slider {
      height: 100%; }
      .review-popup-slider .slick-list {
        width: 100%; }
      .review-popup-slider .review-item {
        height: 100%;
        margin-right: 0px; }
        .review-popup-slider .review-item-top {
          padding: 0 15px; }
        .review-popup-slider .review-item-main {
          padding-left: 15px;
          padding-right: 15px;
          background-color: #f2f5f6; }
          .review-popup-slider .review-item-main__text {
            max-height: none; }
      .review-popup-slider .review-item-top {
        color: #313745; }
  .footer-row {
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__copy {
    margin-bottom: 10px; }
  .footer__img {
    display: none; } }

@media screen and (max-width: 420px) {
  .footer__contacts {
    max-width: 210px; } }
