@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-RegularItalic.woff2') format('woff2'),
        url('../fonts/Panton-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Regular.woff2') format('woff2'),
        url('../fonts/Panton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-ExtraBold.woff2') format('woff2'),
        url('../fonts/Panton-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-SemiBold.woff2') format('woff2'),
        url('../fonts/Panton-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Bold.woff2') format('woff2'),
        url('../fonts/Panton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AsteriskSansPro';
    src: url('../fonts/AsteriskSansPro-Regular.woff2') format('woff2'),
        url('../fonts/AsteriskSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Rhino 45';
    src: url('../fonts/CoreRhino45Regular.woff2') format('woff2'),
        url('../fonts/CoreRhino45Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

