//function px to rem. -?\d+px ---to rem($0)

@function rem($px) {
    @return $px / 16px + 0rem;
}

// resolutions 

$desktop:1370px;
$laptopL: 1170px;
$laptop:990px;
$tablets:810px;
$phones:480px;

$h700:700px;
$h630:630px;


// mixins

@mixin note {
    @media screen and (max-width:1280px) and (max-height:610px){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width:$desktop){
        @content;
    }
}

@mixin laptopL {
    @media screen and (max-width:$laptopL){
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:$laptop){
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width:$tablets){
        @content;
    }
}

@mixin phones {
    @media screen and (max-width:$phones){
        @content;
    }
}

@mixin h700 {
    @media screen and (max-height:$h700){
        @content;
    }
}

@mixin h630 {
    @media screen and (max-height:$h630){
        @content;
    }
}

// import 

@import "_font";
@import "_layout";
@import "_section-hero";
@import "_section-slider";

@import "_modals";


