body {
	font-family: 'Open Sans', sans-serif;
}

.conteiner {
	margin: 0 auto;
	max-width: 1030px;
	padding: 0 12.7%;
}

a, a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration:none;
}
a:focus, a:active {
	color: #fff;
	text-decoration: none;
}

header{
	background: url(../images/headerbg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	height: 496px;
	text-align: center;
	width: 100%;
}

header>.conteiner {
	padding: 16px 20px;
}

header>.conteiner>h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	float: left;

}
 
header>.conteiner>ul {
	float: right;
	margin: 34px 43px 0px 0px;
	list-style-type: none;
	font-size: 16px;
}

header>.conteiner>ul>li {
	display: inline;
	padding-left: 26px;
}

header>.conteiner>.headertext{
	float: right;
	margin: 158px 194px 154px;
	text-align: left;

}

.headertext>h2{
	font-size: 40px;
}

.headertext>p{
	font-size: 16px;
	padding-bottom: 24px;
}

.headertext>a{
	font-size: 24px;
	border: 2px solid #fff;
	border-radius: 7px;
	padding: 11px 27px 13px 27px;
	-webkit-transition: background 0.5s ease-out ;
     -moz-transition: background 0.5s ease-out ;
     -o-transition: background 0.5s ease-out ;
     transition: background 0.5s ease-out ;
}

.headertext>a:hover {
	background-color: #fff;
	color:#FF4A55;
}

.cont {
	padding: 9% 9.1% 10.1% 9.1%;
}
.cont>h2 {
	color: #0B0B0B;
	font-size: 30px
}

.cont>p {
	color: ##454545;
	margin-bottom: 10.7%;
	font-size: 14px;
	line-height: 20px;
}

.squad {
	width: 36px;
	height: 32px;
	display: inline-block;
	margin-right: -5px;
}

.orange {
	background: #FF7424;
}
.pink {
	background: #FF8A8F;
}
.crimson{
	background: #FF4A55;
}
.green {
	background: #005F36;
}
.brown {
	background: #3E3E3E;
}

#colls{
	background: linear-gradient(to right,  #3E3E3E 50%, #005F36 50%);
}

#colls p {
	font-size: 14px;
}

#colls h3 {
	font-size: 22px;
}
#colls a {
	margin-left: 90%;
	font-size: 34px;
	display: block;
	width: 20px;
	height: 25px;
	font-weight: bold;
}

#colls a:hover {
	opacity:1;
	-moz-opacity: 1;
	filter: alpha(opacity=100) black;
	-khtml-opacity: 1;
	background-color: rgb(0,0,0,0.2);
}

.seo,.responsive,.cloud {
	color: #ffffff;
	display: inline-block;
	position: relative;
	margin-right: -2px;
	margin-left:  -4px;
	line-height: 25px;
	padding: 4.17% 2.9% 3.1% 2.9%;
}

.seo {
	background-color: #3E3E3E;
	width: 27%;
}
.responsive {
	background-color: #FF4A55;
	width: 27%
}
.cloud{
	background-color: #005F36;
	width: 27%;
}

#image {
	background: url(../images/sectionbg.jpg) center center no-repeat;
	background-size: cover;
	box-shadow:0 0 0 300px rgba(0, 0, 0, 0.85) inset;
	color: #ffffff;
	text-align: center;
	height: 100%;
}
.text {
	padding: 18% 0 13.3% 0;
}
#image p  {
	font-size: 42px;
	margin: 0 0 4.6% 0;
}
#image span {
	font-weight: bold;
}

#image a {
	border: 2px solid #ffffff;
	border-radius: 4px;
	padding: 1% 2%;
	font-weight: 600;
}

#image a:hover {
	background-color: #fff;
	color: #000;
}

.colors {
	background: url(../images/colors.jpg) center top ;
	height: 9px;
}

footer p {
	text-align: center;
	margin: 2.9%;

}


/* СТИЛІ ДЛЯ АДАПТИВУ  _________________ _______________ _______________ _______________ _______________ ______*/

@media screen and (max-width: 760px) {

header>.conteiner>.headertext{
	float: right;
	margin: 79px 161px 79px 161px;
	text-align: left;
	width: 270px;
}

.conteiner {
	padding: 0;	
}
.seo,.responsive,.cloud {
	display: block;
	width: 90%;
	padding: 5%;
}
.colors {
	background: url(../images/colors.jpg) center top ;
	height: 6px;
}

}

@media screen and (max-width: 515px) {
header {
	height: 250px;
}

header>.conteiner>h1 {
	font-size: 18px;
	padding-top: 5px;

}

header>.conteiner>ul {
	margin: 20px 0 0 0;
	font-size: 12px;
}

header>.conteiner>ul>li {
	padding-left: 5px;
}

header>.conteiner>.headertext{
	margin: 20px 50px 40px 50px;
	width: 180px;

}

.headertext>h2{
	font-size: 25px;
}

.headertext>p{
	font-size: 12px;

}

.headertext>a{
	font-size: 18px;
	border: 2px solid #fff;
	border-radius: 7px;
	padding: 11px 27px 13px 27px;
}

#colls p {
	font-size: 14px;
}

#colls h3 {
	font-size: 18px;
}

#image p  {
	font-size: 32px;
	margin: 0 0 6% 0;
}

}

