html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #000000;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}
p{
    line-height: 1.2em;
}
a, a:hover, a:active, a:visited, a:focus{
	text-decoration: none;
	outline: 0;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.scene{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background: #000000;
}

.layer{
    position: absolute;
    left: -10%;
    top: 0;
    height: 100%;
    width: 110%;
}

.layer-bg{
    background: url("../img/1.png") no-repeat center /cover;
    z-index: 1;
}
.layer-2{
    background: url("../img/2.png") no-repeat center /cover;
    z-index: 2;
}
.layer-3{
    background: url("../img/3.png") no-repeat center /cover;
    z-index: 3;
}
.layer-4{
    background: url("../img/4.png") no-repeat center /cover;
    z-index: 4;
}
.layer-5{
    background: url("../img/5.png") no-repeat center /cover;
    z-index: 5;
}
