/* Icons from directory "" */
.icon-Heart,.icon-Heart\:regular{background-image:url('../img/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-Heart-dims{width:16px;height:15px}
.icon-Marker,.icon-Marker\:regular{background-image:url('../img/icons.svg');background-position:0 -15px;background-repeat:no-repeat}
.icon-Marker-dims{width:34px;height:46px}
.icon-Marker_c,.icon-Marker_c\:regular{background-image:url('../img/icons.svg');background-position:0 -61px;background-repeat:no-repeat}
.icon-Marker_c-dims{width:34px;height:46px}
.icon-Phone,.icon-Phone\:regular{background-image:url('../img/icons.svg');background-position:0 -107px;background-repeat:no-repeat}
.icon-Phone-dims{width:16px;height:16px}
.icon-Union,.icon-Union\:regular{background-image:url('../img/icons.svg');background-position:0 -123px;background-repeat:no-repeat}
.icon-Union-dims{width:48px;height:36px}
.icon-Union_c,.icon-Union_c\:regular{background-image:url('../img/icons.svg');background-position:0 -159px;background-repeat:no-repeat}
.icon-Union_c-dims{width:49px;height:36px}
.icon-User,.icon-User\:regular{background-image:url('../img/icons.svg');background-position:0 -195px;background-repeat:no-repeat}
.icon-User-dims{width:14px;height:16px}
.icon-adv_house,.icon-adv_house\:regular{background-image:url('../img/icons.svg');background-position:0 -211px;background-repeat:no-repeat}
.icon-adv_house-dims{width:64px;height:64px}
.icon-adv_lap,.icon-adv_lap\:regular{background-image:url('../img/icons.svg');background-position:0 -275px;background-repeat:no-repeat}
.icon-adv_lap-dims{width:93px;height:56px}
.icon-adv_money,.icon-adv_money\:regular{background-image:url('../img/icons.svg');background-position:0 -331px;background-repeat:no-repeat}
.icon-adv_money-dims{width:84px;height:70px}
.icon-adv_pr,.icon-adv_pr\:regular{background-image:url('../img/icons.svg');background-position:0 -401px;background-repeat:no-repeat}
.icon-adv_pr-dims{width:60px;height:57px}
.icon-arrow-back-green,.icon-arrow-back-green\:regular{background-image:url('../img/icons.svg');background-position:0 -458px;background-repeat:no-repeat}
.icon-arrow-back-green-dims{width:16px;height:16px}
.icon-arrow-down,.icon-arrow-down\:regular{background-image:url('../img/icons.svg');background-position:0 -474px;background-repeat:no-repeat}
.icon-arrow-down-dims{width:9px;height:5px}
.icon-arrow-gray-bold,.icon-arrow-gray-bold\:regular{background-image:url('../img/icons.svg');background-position:0 -479px;background-repeat:no-repeat}
.icon-arrow-gray-bold-dims{width:9px;height:15px}
.icon-arrow-gray-light,.icon-arrow-gray-light\:regular{background-image:url('../img/icons.svg');background-position:0 -494px;background-repeat:no-repeat}
.icon-arrow-gray-light-dims{width:9px;height:16px}
.icon-arrow-shape-white,.icon-arrow-shape-white\:regular{background-image:url('../img/icons.svg');background-position:0 -510px;background-repeat:no-repeat}
.icon-arrow-shape-white-dims{width:36px;height:36px}
.icon-arrow-slider-black,.icon-arrow-slider-black\:regular{background-image:url('../img/icons.svg');background-position:0 -546px;background-repeat:no-repeat}
.icon-arrow-slider-black-dims{width:24px;height:6px}
.icon-arrow-slider-grey,.icon-arrow-slider-grey\:regular{background-image:url('../img/icons.svg');background-position:0 -552px;background-repeat:no-repeat}
.icon-arrow-slider-grey-dims{width:24px;height:6px}
.icon-arrow-white-light,.icon-arrow-white-light\:regular{background-image:url('../img/icons.svg');background-position:0 -558px;background-repeat:no-repeat}
.icon-arrow-white-light-dims{width:16px;height:28px}
.icon-big-house,.icon-big-house\:regular{background-image:url('../img/icons.svg');background-position:0 -586px;background-repeat:no-repeat}
.icon-big-house-dims{width:32px;height:32px}
.icon-calendar-gray,.icon-calendar-gray\:regular{background-image:url('../img/icons.svg');background-position:0 -618px;background-repeat:no-repeat}
.icon-calendar-gray-dims{width:14px;height:14px}
.icon-card-adv-park,.icon-card-adv-park\:regular{background-image:url('../img/icons.svg');background-position:0 -632px;background-repeat:no-repeat}
.icon-card-adv-park-dims{width:13px;height:13px}
.icon-card-adv-star,.icon-card-adv-star\:regular{background-image:url('../img/icons.svg');background-position:0 -645px;background-repeat:no-repeat}
.icon-card-adv-star-dims{width:14px;height:14px}
.icon-card-adv-water,.icon-card-adv-water\:regular{background-image:url('../img/icons.svg');background-position:0 -659px;background-repeat:no-repeat}
.icon-card-adv-water-dims{width:8px;height:14px}
.icon-check-black,.icon-check-black\:regular{background-image:url('../img/icons.svg');background-position:0 -673px;background-repeat:no-repeat}
.icon-check-black-dims{width:14px;height:14px}
.icon-close-gray,.icon-close-gray\:regular{background-image:url('../img/icons.svg');background-position:0 -687px;background-repeat:no-repeat}
.icon-close-gray-dims{width:14px;height:14px}
.icon-earth-ico,.icon-earth-ico\:regular{background-image:url('../img/icons.svg');background-position:0 -701px;background-repeat:no-repeat}
.icon-earth-ico-dims{width:14px;height:14px}
.icon-fb,.icon-fb\:regular{background-image:url('../img/icons.svg');background-position:0 -715px;background-repeat:no-repeat}
.icon-fb-dims{width:14px;height:28px}
.icon-flash_black,.icon-flash_black\:regular{background-image:url('../img/icons.svg');background-position:0 -743px;background-repeat:no-repeat}
.icon-flash_black-dims{width:8px;height:19px}
.icon-flash_blue,.icon-flash_blue\:regular{background-image:url('../img/icons.svg');background-position:0 -762px;background-repeat:no-repeat}
.icon-flash_blue-dims{width:16px;height:16px}
.icon-flash_green,.icon-flash_green\:regular{background-image:url('../img/icons.svg');background-position:0 -778px;background-repeat:no-repeat}
.icon-flash_green-dims{width:16px;height:16px}
.icon-food-ico,.icon-food-ico\:regular{background-image:url('../img/icons.svg');background-position:0 -794px;background-repeat:no-repeat}
.icon-food-ico-dims{width:13px;height:13px}
.icon-heart_green,.icon-heart_green\:regular{background-image:url('../img/icons.svg');background-position:0 -807px;background-repeat:no-repeat}
.icon-heart_green-dims{width:16px;height:15px}
.icon-hot-label,.icon-hot-label\:regular{background-image:url('../img/icons.svg');background-position:0 -822px;background-repeat:no-repeat}
.icon-hot-label-dims{width:16px;height:17px}
.icon-hot-min,.icon-hot-min\:regular{background-image:url('../img/icons.svg');background-position:0 -839px;background-repeat:no-repeat}
.icon-hot-min-dims{width:36px;height:36px}
.icon-hot,.icon-hot\:regular{background-image:url('../img/icons.svg');background-position:0 -875px;background-repeat:no-repeat}
.icon-hot-dims{width:40px;height:39px}
.icon-house,.icon-house\:regular{background-image:url('../img/icons.svg');background-position:0 -914px;background-repeat:no-repeat}
.icon-house-dims{width:46px;height:46px}
.icon-house_c,.icon-house_c\:regular{background-image:url('../img/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-house_c-dims{width:46px;height:46px}
.icon-like-heart-active,.icon-like-heart-active\:regular{background-image:url('../img/icons.svg');background-position:0 -1006px;background-repeat:no-repeat}
.icon-like-heart-active-dims{width:30px;height:27px}
.icon-like-heart,.icon-like-heart\:regular{background-image:url('../img/icons.svg');background-position:0 -1033px;background-repeat:no-repeat}
.icon-like-heart-dims{width:30px;height:27px}
.icon-list-ico,.icon-list-ico\:regular{background-image:url('../img/icons.svg');background-position:0 -1060px;background-repeat:no-repeat}
.icon-list-ico-dims{width:16px;height:16px}
.icon-list-price,.icon-list-price\:regular{background-image:url('../img/icons.svg');background-position:0 -1076px;background-repeat:no-repeat}
.icon-list-price-dims{width:16px;height:16px}
.icon-logo-c-mob,.icon-logo-c-mob\:regular{background-image:url('../img/icons.svg');background-position:0 -1092px;background-repeat:no-repeat}
.icon-logo-c-mob-dims{width:126px;height:14px}
.icon-logo-white-mob,.icon-logo-white-mob\:regular{background-image:url('../img/icons.svg');background-position:0 -1106px;background-repeat:no-repeat}
.icon-logo-white-mob-dims{width:126px;height:15px}
.icon-logo,.icon-logo\:regular{background-image:url('../img/icons.svg');background-position:0 -1121px;background-repeat:no-repeat}
.icon-logo-dims{width:155px;height:18px}
.icon-logo_c,.icon-logo_c\:regular{background-image:url('../img/icons.svg');background-position:0 -1139px;background-repeat:no-repeat}
.icon-logo_c-dims{width:155px;height:18px}
.icon-map-ico,.icon-map-ico\:regular{background-image:url('../img/icons.svg');background-position:0 -1157px;background-repeat:no-repeat}
.icon-map-ico-dims{width:18px;height:17px}
.icon-map-marker-green,.icon-map-marker-green\:regular{background-image:url('../img/icons.svg');background-position:0 -1174px;background-repeat:no-repeat}
.icon-map-marker-green-dims{width:12px;height:16px}
.icon-marker_gray,.icon-marker_gray\:regular{background-image:url('../img/icons.svg');background-position:0 -1190px;background-repeat:no-repeat}
.icon-marker_gray-dims{width:12px;height:16px}
.icon-minus,.icon-minus\:regular{background-image:url('../img/icons.svg');background-position:0 -1206px;background-repeat:no-repeat}
.icon-minus-dims{width:16px;height:2px}
.icon-ny,.icon-ny\:regular{background-image:url('../img/icons.svg');background-position:0 -1208px;background-repeat:no-repeat}
.icon-ny-dims{width:40px;height:40px}
.icon-ny_green,.icon-ny_green\:regular{background-image:url('../img/icons.svg');background-position:0 -1248px;background-repeat:no-repeat}
.icon-ny_green-dims{width:40px;height:40px}
.icon-phone_black,.icon-phone_black\:regular{background-image:url('../img/icons.svg');background-position:0 -1288px;background-repeat:no-repeat}
.icon-phone_black-dims{width:14px;height:14px}
.icon-phone_white,.icon-phone_white\:regular{background-image:url('../img/icons.svg');background-position:0 -1302px;background-repeat:no-repeat}
.icon-phone_white-dims{width:12px;height:12px}
.icon-plus,.icon-plus\:regular{background-image:url('../img/icons.svg');background-position:0 -1314px;background-repeat:no-repeat}
.icon-plus-dims{width:16px;height:16px}
.icon-pop,.icon-pop\:regular{background-image:url('../img/icons.svg');background-position:0 -1330px;background-repeat:no-repeat}
.icon-pop-dims{width:40px;height:39px}
.icon-pr,.icon-pr\:regular{background-image:url('../img/icons.svg');background-position:0 -1369px;background-repeat:no-repeat}
.icon-pr-dims{width:28px;height:27px}
.icon-refresh,.icon-refresh\:regular{background-image:url('../img/icons.svg');background-position:0 -1396px;background-repeat:no-repeat}
.icon-refresh-dims{width:18px;height:18px}
.icon-search_gray,.icon-search_gray\:regular{background-image:url('../img/icons.svg');background-position:0 -1414px;background-repeat:no-repeat}
.icon-search_gray-dims{width:16px;height:17px}
.icon-shape-light-ico,.icon-shape-light-ico\:regular{background-image:url('../img/icons.svg');background-position:0 -1431px;background-repeat:no-repeat}
.icon-shape-light-ico-dims{width:14px;height:14px}
.icon-slider-arrow,.icon-slider-arrow\:regular{background-image:url('../img/icons.svg');background-position:0 -1445px;background-repeat:no-repeat}
.icon-slider-arrow-dims{width:26px;height:12px}
.icon-smile-min,.icon-smile-min\:regular{background-image:url('../img/icons.svg');background-position:0 -1457px;background-repeat:no-repeat}
.icon-smile-min-dims{width:36px;height:36px}
.icon-smile,.icon-smile\:regular{background-image:url('../img/icons.svg');background-position:0 -1493px;background-repeat:no-repeat}
.icon-smile-dims{width:80px;height:80px}
.icon-twitter,.icon-twitter\:regular{background-image:url('../img/icons.svg');background-position:0 -1573px;background-repeat:no-repeat}
.icon-twitter-dims{width:29px;height:24px}
.icon-type_like,.icon-type_like\:regular{background-image:url('../img/icons.svg');background-position:0 -1597px;background-repeat:no-repeat}
.icon-type_like-dims{width:20px;height:20px}
.icon-user_green,.icon-user_green\:regular{background-image:url('../img/icons.svg');background-position:0 -1617px;background-repeat:no-repeat}
.icon-user_green-dims{width:14px;height:16px}
.icon-users_black,.icon-users_black\:regular{background-image:url('../img/icons.svg');background-position:0 -1633px;background-repeat:no-repeat}
.icon-users_black-dims{width:20px;height:20px}
.icon-users_gray,.icon-users_gray\:regular{background-image:url('../img/icons.svg');background-position:0 -1653px;background-repeat:no-repeat}
.icon-users_gray-dims{width:16px;height:16px}
.icon-vk,.icon-vk\:regular{background-image:url('../img/icons.svg');background-position:0 -1669px;background-repeat:no-repeat}
.icon-vk-dims{width:35px;height:21px}
.icon-za-big-camp,.icon-za-big-camp\:regular{background-image:url('../img/icons.svg');background-position:0 -1690px;background-repeat:no-repeat}
.icon-za-big-camp-dims{width:28px;height:24px}
.icon-za-big-door,.icon-za-big-door\:regular{background-image:url('../img/icons.svg');background-position:0 -1714px;background-repeat:no-repeat}
.icon-za-big-door-dims{width:28px;height:26px}
.icon-za-check-green,.icon-za-check-green\:regular{background-image:url('../img/icons.svg');background-position:0 -1740px;background-repeat:no-repeat}
.icon-za-check-green-dims{width:14px;height:14px}
.icon-zb-filter-white,.icon-zb-filter-white\:regular{background-image:url('../img/icons.svg');background-position:0 -1754px;background-repeat:no-repeat}
.icon-zb-filter-white-dims{width:20px;height:14px}
.icon-zb-map-white,.icon-zb-map-white\:regular{background-image:url('../img/icons.svg');background-position:0 -1768px;background-repeat:no-repeat}
.icon-zb-map-white-dims{width:20px;height:18px}
.icon-zc-like-heart-active-min,.icon-zc-like-heart-active-min\:regular{background-image:url('../img/icons.svg');background-position:0 -1786px;background-repeat:no-repeat}
.icon-zc-like-heart-active-min-dims{width:24px;height:22px}
.icon-zc-like-heart-white,.icon-zc-like-heart-white\:regular{background-image:url('../img/icons.svg');background-position:0 -1808px;background-repeat:no-repeat}
.icon-zc-like-heart-white-dims{width:24px;height:21px}
.icon-zd-phone-circle,.icon-zd-phone-circle\:regular{background-image:url('../img/icons.svg');background-position:0 -1830px;background-repeat:no-repeat}
.icon-zd-phone-circle-dims{width:40px;height:40px}
.icon-zd-world,.icon-zd-world\:regular{background-image:url('../img/icons.svg');background-position:0 -1870px;background-repeat:no-repeat}
.icon-zd-world-dims{width:14px;height:14px}
.icon-ze-adress-one,.icon-ze-adress-one\:regular{background-image:url('../img/icons.svg');background-position:0 -1884px;background-repeat:no-repeat}
.icon-ze-adress-one-dims{width:17px;height:16px}
.icon-ze-adress-two,.icon-ze-adress-two\:regular{background-image:url('../img/icons.svg');background-position:0 -1900px;background-repeat:no-repeat}
.icon-ze-adress-two-dims{width:13px;height:13px}
.icon-ze-cancel-arrow-red,.icon-ze-cancel-arrow-red\:regular{background-image:url('../img/icons.svg');background-position:0 -1913px;background-repeat:no-repeat}
.icon-ze-cancel-arrow-red-dims{width:16px;height:16px}
.icon-ze-human,.icon-ze-human\:regular{background-image:url('../img/icons.svg');background-position:0 -1929px;background-repeat:no-repeat}
.icon-ze-human-dims{width:10px;height:16px}
.icon-ze-info,.icon-ze-info\:regular{background-image:url('../img/icons.svg');background-position:0 -1945px;background-repeat:no-repeat}
.icon-ze-info-dims{width:24px;height:24px}
.icon-ze-key,.icon-ze-key\:regular{background-image:url('../img/icons.svg');background-position:0 -1969px;background-repeat:no-repeat}
.icon-ze-key-dims{width:14px;height:19px}
.icon-ze-warn,.icon-ze-warn\:regular{background-image:url('../img/icons.svg');background-position:0 -1988px;background-repeat:no-repeat}
.icon-ze-warn-dims{width:30px;height:29px}
.icon-ze-wave,.icon-ze-wave\:regular{background-image:url('../img/icons.svg');background-position:0 -2017px;background-repeat:no-repeat}
.icon-ze-wave-dims{width:18px;height:16px}
.icon-zf-non,.icon-zf-non\:regular{background-image:url('../img/icons.svg');background-position:0 -2033px;background-repeat:no-repeat}
.icon-zf-non-dims{width:10px;height:11px}
.icon-zh-house-min-gray,.icon-zh-house-min-gray\:regular{background-image:url('../img/icons.svg');background-position:0 -2044px;background-repeat:no-repeat}
.icon-zh-house-min-gray-dims{width:16px;height:15px}
.icon-zh-like-green,.icon-zh-like-green\:regular{background-image:url('../img/icons.svg');background-position:0 -2059px;background-repeat:no-repeat}
.icon-zh-like-green-dims{width:20px;height:20px}
.icon-zk-close-big,.icon-zk-close-big\:regular{background-image:url('../img/icons.svg');background-position:0 -2079px;background-repeat:no-repeat}
.icon-zk-close-big-dims{width:22px;height:23px}
.icon-zl-close-white,.icon-zl-close-white\:regular{background-image:url('../img/icons.svg');background-position:-30px -2102px;background-repeat:no-repeat}
.icon-zl-close-white-dims{width:14px;height:14px}
.icon-zl-phone-gray,.icon-zl-phone-gray\:regular{background-image:url('../img/icons.svg');background-position:0 -2116px;background-repeat:no-repeat}
.icon-zl-phone-gray-dims{width:12px;height:18px}
.icon-zm-label-fire,.icon-zm-label-fire\:regular{background-image:url('../img/icons.svg');background-position:0 -2134px;background-repeat:no-repeat}
.icon-zm-label-fire-dims{width:16px;height:17px}
.icon-zm-label-star,.icon-zm-label-star\:regular{background-image:url('../img/icons.svg');background-position:0 -2151px;background-repeat:no-repeat}
.icon-zm-label-star-dims{width:16px;height:16px}
.icon-zn-pc-version,.icon-zn-pc-version\:regular{background-image:url('../img/icons.svg');background-position:0 -2167px;background-repeat:no-repeat}
.icon-zn-pc-version-dims{width:20px;height:18px}
.icon-zo-info-blue,.icon-zo-info-blue\:regular{background-image:url('../img/icons.svg');background-position:0 -2185px;background-repeat:no-repeat}
.icon-zo-info-blue-dims{width:24px;height:24px}
.icon-zp-search-non,.icon-zp-search-non\:regular{background-image:url('../img/icons.svg');background-position:0 -2209px;background-repeat:no-repeat}
.icon-zp-search-non-dims{width:48px;height:52px}
.icon-zq-key-green,.icon-zq-key-green\:regular{background-image:url('../img/icons.svg');background-position:0 -2261px;background-repeat:no-repeat}
.icon-zq-key-green-dims{width:12px;height:16px}
.icon-zq-vallet,.icon-zq-vallet\:regular{background-image:url('../img/icons.svg');background-position:0 -2277px;background-repeat:no-repeat}
.icon-zq-vallet-dims{width:15px;height:15px}
.icon-zr-social-fb,.icon-zr-social-fb\:regular{background-image:url('../img/icons.svg');background-position:0 -2292px;background-repeat:no-repeat}
.icon-zr-social-fb-dims{width:48px;height:48px}
.icon-zr-social-in,.icon-zr-social-in\:regular{background-image:url('../img/icons.svg');background-position:0 -2340px;background-repeat:no-repeat}
.icon-zr-social-in-dims{width:48px;height:48px}
.icon-zr-social-tw,.icon-zr-social-tw\:regular{background-image:url('../img/icons.svg');background-position:0 -2388px;background-repeat:no-repeat}
.icon-zr-social-tw-dims{width:48px;height:48px}
.icon-zr-social-vk,.icon-zr-social-vk\:regular{background-image:url('../img/icons.svg');background-position:0 -2436px;background-repeat:no-repeat}
.icon-zr-social-vk-dims{width:48px;height:48px}