
$chicago-bulls-red: #CE1141;
$portland-trailblazers-red: #E03A3E;
//--------


//-------- Miami Heat Colors
$miami-heat-red: #98002E;
$miami-heat-yellow: #F9A01B;
$miami-heat-black: #000000;

//-------- Atlanta Hawks Colors
$atlanta-hawks-red: #E03A3E;
$atlanta-hawks-volt-green: #C1D32F;
$atlanta-hawks-charcoal: #26282A;

//-------- Washington Wizards Colors
$washington-wizards-blue: #002B5C;
$washington-wizards-red: #E31837;
$washington-wizards-silver: #C4CED4;

//-------- Orlando Magic Colors
$orlando-magic-blue: #0077C0;
$orlando-magic-silver: #C4CED4;
$orlando-magic-black: #000000;

//-------- Charlotte Hornets Colors
$charlotte-hornets-purple: #1D1160;
$charlotte-hornets-teal: #00788C;
$charlotte-hornets-gray: #A1A1A4;

//-------- Los Angeles Lakers Colors
$los-angeles-lakers-purple: #552583;
$los-angeles-lakers-gold: #FDB927;
$los-angeles-lakers-black: #000000;

//-------- Los Angeles Lakers Clippers Colors
$los-angeles-clippers-red: #C8102E;
$los-angeles-clippers-blue: #1D428A;
$los-angeles-clippers-silver:#BEC0C2;

//-------- Phoenix Suns Colors
$phoenix-suns-purple: #1D1160;
$phoenix-suns-orange: #E56020;
$phoenix-suns-black:#000000;

//-------- Golden State Warriors Colors
$golden-state-warriors-blue: #1D428A;
$golden-state-warriors-yellow: #FFC72C;

//-------- Sacremento Kings Colors
$sacramento-kings-purple: #5A2D81;
$sacramento-kings-gray: #63727A;
$sacramento-kings-black: #000000;

//-------- Boston Celtics Colors
$boston-celtics-green: #007A33;
$boston-celtics-gold: #BA9653;
$boston-celtics-black: #000000;

//-------- Toronto Raptors Colors
$toronto-raptors-red: #CE1141;
$toronto-raptors-silver: #A1A1A4;
$toronto-raptors-black: #000000;

//-------- Philadelphia 76ers Colors
$philadelphia-76-ers-blue: #006BB6;
$philadelphia-76-ers-red: #ED174C;
$philadelphia-76-ers-navy: #002B5C;

//-------- Brooklyn Nets Colors
$brooklyn-nets-black: #000000;
$brooklyn-nets-white: #FFFFFF;

//-------- New York Knicks Colors
$new-york-knicks-blue: #006BB6;
$new-york-knicks-orange: #F58426;
$new-york-knicks-silver: #BEC0C2;

//-------- Houston Rockets Colors
$houston-rockets-red: #CE1141;
$houston-rockets-black: #000000;
$houston-rockets-silver: #C4CED4;

//-------- Dallas Mavericks Colors
$dallas-mavericks-royal-blue: #00538C;
$dallas-mavericks-navy-blue: #002B5E;
$dallas-mavericks-silver: #B8C4CA;

//-------- Memphis Grizzlies Colors
$memphis-grizzlies-blue: #5D76A9;
$memphis-grizzlies-navy: #12173F;
$memphis-grizzlies-yellow: #F5B112;

//-------- San Antonio Spurs Colors
$san-antonio-spurs-silver: #C4CED4;
$san-antonio-spurs-black: #000000;

//-------- New Orleans Pelicans Colors
$new-orleans-pelicans-navy: #0C2340;
$new-orleans-pelicans-red: #C8102E;
$new-orleans-pelicans-gold: #85714D;

//-------- Milwaukee Bucks Colors
$milwaukee-bucks-green: #00471B;
$milwaukee-bucks-cream: #EEE1C6;
$milwaukee-bucks-blue: #0077C0;

//-------- Indiana Pacers Colors
$indiana-pacers-blue: #002D62;
$indiana-pacers-yellow: #FDBB30;
$indiana-pacers-silver: #BEC0C2;

//-------- Chicago Bulls Colors
$chicago-bulls-red: #CE1141;
$chicago-bulls-black: #000000;

//-------- Detriot Pistons Colors
$detriot-pistons-red: #C8102E;
$detriot-pistons-royal-blue: #1D42BA;
$detriot-pistons-silver: #BEC0C2;

//-------- Cleveland Cavaliers Colors
$cleveland-cavaliers-wine: #860038;
$cleveland-cavaliers-navy-blue: #041E42;
$cleveland-cavaliers-gold: #FDBB30;

//-------- Utah Jazz Colors
$utah-jazz-blue: #002B5C;
$utah-jazz-green: #00471B;
$utah-jazz-yellow: #F9A01B;

//-------- Oklahoma City Thunder Colors
$oklahoma-city-thunder-blue: #007AC1;
$oklahoma-city-thunder-orange: #EF3B24;
$oklahoma-city-thunder-blue-alt: #002D62;

//-------- Denver Nuggets Colors
$denver-nuggets-blue: #0E2240;
$denver-nuggets-yellow: #FEC524;
$denver-nuggets-skyline-blue: #1D428A;

//-------- Portland Trailblazers Colors
$portland-trailblazers-red: #E03A3E;
$portland-trailblazers-black: #000000;

//-------- Minnesota Timberwolves Colors
$minnesota-timberwolves-blue: #0C2340;
$minnesota-timberwolves-light-blue: #236192;
$minnesota-timberwolves-aurora-green: #78BE20;
