@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/ApercuPro-Mono.woff2') format('woff2'),
        url('../fonts/ApercuPro-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro.woff2') format('woff2'),
        url('../fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
        url('../fonts/ApercuPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro-Light.woff2') format('woff2'),
        url('../fonts/ApercuPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Apercu Pro Medium';
    src: url('../fonts/ApercuPro-Medium.woff2') format('woff2'),
        url('../fonts/ApercuPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

