@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $mainFontWeight;

}

a {
  color: $primary-color;
  text-decoration: none;
}
.more-link{
  text-decoration: underline;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  // padding: 40px 0;
  // @media screen and (max-width: $smDesktopWidth) {
  //   padding: 36px 0;
  // }
  // @media screen and (max-width: $tableWidth) {
  //   padding: 28px 0;
  // }
  // @media screen and (max-width: $phoneWidth) {
  //   padding: 20px 0;
  // }
  &_blue{
    color: $white-font;
    .container{
      background-color: $primary-color;
      padding: 64px 76px;
    }
  }
  &_mb{
    margin-bottom: 130px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
    padding: 0 20px;
  }
  &_small{
    @media screen and (min-width: $desktopWidth) {
      max-width: 1140px;
    }
  }
}

// Components
.h1{
  font-size: 64px;
  font-weight: 700;
}
.h2{
  font-size: 32px;
} 
.h3{
  font-size: 24px;
}
.h4{
  font-size: 22px;
}
.text{
  &_bold{
    font-weight: bold;
  }
  &_center{
    text-align: center;
  }
}
.btn-menu{
  display: none;
}

.box{
  background-color: $primary-color;
  color: $white-font;
  padding: 32px;
  position: relative;
  &__title{
    font-size: 24px;
    margin-bottom: 16px;
  }
  &__circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px -14px 25px rgba(57, 57, 57, 0.2);
    background-color: $primary-color;
    &::after{
      content: "";
      display: block;
      position: absolute;
      border: 6px solid #3E66F3;
      width: 90px;
      position: absolute;
      top: 50%;
      left: 90%;
      transform: translateY(-50%);
    }
  }
  &__number{
    font-size: 14px;
    font-weight: 700;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px -14px 25px rgba(57, 57, 57, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    background-color: $white-font;
    &_ab{
      position: absolute;
    }
    &_top{
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
    &_bot {
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      &::after{
        top: 110%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
      }
    }
    &_left {
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
    }
    &_right {
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.info-box {
  background-color: $white-font;
  padding: 44px 34px 35px 47px;
  box-shadow: 0px -14px 25px rgba(57, 57, 57, 0.2);
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $primary-color;
    top: 12px;
    right: 14px;
    border-radius: 50%;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__more {
    text-decoration: underline;
  }
}

.info-article{
  &__title{
    margin-bottom: 16px;
  }
  &__more{
    display: block;
    margin-top: 16px;
    font-size: 22px;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
}
input{
  font-family: $mainFont;
  font-weight: 600;
  &::placeholder{
    color: $gray-light-color;
  }
}
button{
  cursor: pointer;
  font-family: $mainFont;
  font-weight: 600;
  background-color: $primary-color;
  border: none;
  color: $white-font;
  font-size: 22px;
  padding: 12px 30px;
  transition: all 0.3s;
  &:hover,&:focus{
    background-color: $primary-light-color;
  }
}

.form{
  .btn {
    display: block;
    width: 100%;
  }
  input{
    border: none;
    border-bottom: 1px solid $gray-color;
    font-size: 22px;
    padding: 6px 0;
    width: 100%;
    display: block;
    background-color: transparent;
    margin-bottom: 28px;
    &:last-child{
      margin-bottom: 32px;
    }
  }
}
form input.error {
  color: $red-color;
}
form label.error{
  display: none;
  margin-top: -25px;
  margin-bottom: 10px;
  font-size: 14px;
  color: $red-color;
  position: absolute;
}

.d-flex{
  display: flex;
}
// Main
.header{
  &-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    margin-top: 20px;
  }
}

.nav{
  &-list{
    display: flex;
  }
  &-list__item{
    font-size: 16px;
    padding: 34px 35px 17px 34px;
    transition: all 0.5s;
    &:hover{
      background-color: $primary-color;
      a{
        color: $white-font;
      }
    }
    a{
      color: #393939;
      transition: all 0.5s;
    }
    &_active{
      background-color: $primary-color;
      a {
        color: $white-font;
      }
    }
  }
}

.logo{
  max-width: 157px;
}

.page-title{
  margin-top: 140px;
  margin-bottom: 205px;
  &-wrap{
    margin-left: 84px;
    position: relative;
    display: inline-block;
    &_main-page{
      margin-left: 136px;
    }
    &__title{
      color: $primary-color;
    }
    &__pre-title {
      font-size: 26px;
      position: absolute;
      max-width: 400px;
      right: 0px;
      top: 110%;
      &_main{
        right: 20px;
      }
      &_landing{
        max-width: 455px;
        right: 190px;
      }
    }
    &__link{
      font-size: 22px;
      text-decoration: underline;
    }
  }
  &_thank{
    margin-bottom: 100px;
  }
}

.hr{
  margin-bottom: 90px;
  &-row{
    display: flex;
    align-items: flex-end;
  }
  &__box{
    padding: 67px 28px 67px 64px;
    width: 455px;
  }
  &__img{
    width: 883px;
  }
}

.companies{
  margin-bottom: 118px;
  &__title{
    margin-bottom: 22px;
  }
  &__logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-blue{
    background-color: $primary-color;
    color: $white-font;
    max-width: 682px;
    padding: 70px 51px 72px 76px;
    .companies__logos{
      flex-wrap: wrap;
      margin-bottom: -30px;
    }
    .companies__logo{
      width: 27%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.needs{
  margin-bottom: 98px;
  &-row{
    display: flex;
  }
  &-main{
    min-width: 455px;
    margin-left: 76px;
    &__title{
      max-width: 440px;
      margin-bottom: 28px;
    }
    &__text{
      margin-left: 80px;
    }
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -46px;
  }
  &-item{
    width: 300px;
    margin-left: 76px;
    margin-bottom: 46px;
    &__title{
      margin-bottom: 8px;
    }
  }
}

.task{
  margin-bottom: 98px;
  text-align: center;
  &__title{
    margin-bottom: 34px;
  }
  &__list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item{
    width: 303px;
    font-size: 20px;
  }
  &__par{
    max-width: 606px;
    margin: 0 auto 20px auto;
    &:last-child{
      margin-bottom: 0;
    }
    &_large{
      font-size: 26px;
      max-width: 986px;
      margin: 0 auto 20px auto;
    }
  }
}

.solutions{
  margin-bottom: 98px;
  &__title{
    margin-bottom: 73px;
  }
  &__list{
    margin-left: 76px;
  }
  &__item{
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-bottom: 31px;
    position: relative;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $mainFontColor;
    }
    &::before{
      content: "";
      display: block;
      width: 15.42px;
      height: 14px;
      background: url('../img/bullit.svg') no-repeat center /cover ;
      margin-right: 41px;
    }
    &::after{
      content: "";
      display: block;
      position: absolute;
      background-color: $gray-light-color;
      height: 2px;
      width: 452px;
      bottom: -5px;
      left: 34px + 15px;
    }
  }
  &__text{
    width: 400px;
    margin-left: 198px;
    p{
      margin-bottom: 14px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.footer{
  &__title{
    margin-bottom: 31px;
  }
  &__info{
    width: 400px;
    margin-left: 76px;
    p{
      margin-bottom: 18px;
    }
  }
  &__form{
    width: 455px;
    margin-left: 208px;
  }
  &__copy{
    margin-left: 76px;
    margin-top: 83px;
    margin-bottom: 31px;
    color: $gray-light-color;
    a{
      color: $gray-light-color;
      text-decoration-line: underline;
    }
  }
}

// Lead Page =======================================================

.hero{
  &-wrap{
    position: relative;
  }
  &__img{
    width: 100%;
  }
  &__box{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 110px;
    max-width: 377px;
  }
  &__info-box{
    max-width: 325px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -94px;
  }
}

.road{
  &-wrap{
    position: relative;
    height: 450px;
  }
  &__title {
    margin-bottom: 46px;
  }
  &__item{
    max-width: 304px;
    position: absolute;
    .box__text{
      font-size: 16px;
    }
    &_1{
      left: 0;
      top: 0;
    }
    &_2{
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &_3 {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &_4{
      right: 0;
      bottom: 0;
    }
  }
  &__text{
    position: absolute;
    max-width: 380px;
    top: 10px;
    right: -76px;
    .h3{
      margin-bottom: 20px;
    }
  }
}


.how-work{
  &-row{
    display: flex;
  }
  &-left {
    max-width: 454px;
    margin-right: 76px;
  }
  &-right{
    max-width: 606px;
  }
  &__title{
    margin-bottom: 37px;
  }
  &__text{
    margin-left: 76px;
  }
}

.how-list{
  &__item{
    counter-increment: my-counter;
    position: relative;
    padding-left: 117px;
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0px;
    }
    &::before{
      content: counter(my-counter);
      font-size: 16px;
      width: 42px;
      height: 42px;
      background-color: $primary-color;
      color: $white-font;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title{
    font-size: 28px;
    margin-bottom: 8px;
  }
  &_small{
    .how-list__title{
      font-size: 22px;
    }
  }
}


.result{
  &-row{
    display: flex;
  }
  &-img{
    margin-right: 76px;
  }
  &-text{
    margin-top: 18px;
    max-width: 530px;
    position: relative;
    &__title{
      margin-bottom: 18px;
    }
    &__par{
      max-width: 420px;
    }
    &__info-box{
      position: absolute;
      right: 0;
      bottom: -46px;
      max-width: 326px;
      padding: 44px 30px 33px 30px;
    }
  }
}


// Landing Page =======================================================

.design{
  margin-bottom: 189px;
  &-row{
    display: flex;
  }
  &-img{
    margin-right: 76px;
    max-width: 606px;
    flex-shrink: 0;
  }
  &-right{
    max-width: 528px;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      bottom: -130px;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
    }
    &__box{
      padding: 67px 71px;
      margin-bottom: 42px;
      .h2{
        font-size: 26px;
        margin-bottom: 0;
      }
    }
    &__info{
      max-width: 430px;
      margin-left: 76px;
      p{
        max-width: 346px;
      }
    }
  }
}


// Thank Page =======================================================
.thank-box{
  margin-top: 127px;
  max-width: 607px;
  margin-left: auto;
  padding: 67px 76px;
  p{
    font-size: 16px;
  }
}

// Responsive
@import 'utils/responsive';


// IE fixes

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  @media (max-width: 1290px) and (min-width: 917px){
    .how-work-row_large .how-work-left {
      max-width: 363px;
      margin-left: 110px;
      margin-right: 108px;
    }
  }
  .header__nav{
    display: inline-flex;
  }
  .nav-list{
    display: inline-flex;
    margin-left: auto;
  }
  .page-title{
    margin-top: 0px;
  }
}