.flex {
	display: -webkit-flex; 
	display: flex;
}
.flex-column {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.flex-row{
	flex-direction: row;
	-webkit-flex-direction: row;
}
/*Align*/
.flex-align-center {
	-webkit-align-items: center;
	align-items: center;
}
.flex-align-baseline {
	-webkit-align-items: baseline;
	align-items: baseline;
}
.flex-align-stretch {
	-webkit-align-items: stretch;
	align-items: stretch;
}
/*Space*/
.flex-space-between {
	-webkit-justify-content: space-between;
 	justify-content: space-between;
}
.flex-space-around {
	-webkit-justify-content: space-around;
 	justify-content: space-around;
}
.flex-space-center {
	-webkit-justify-content: center;
 	justify-content: center;	
}
.flex-space-left {
	-webkit-justify-content: left;
 	justify-content: left;
}



